tips/04_n8n配置飞书消息服务/Tips_n8n配置飞书群消息.json
{
  "name": "Tips_n8n配置飞书群消息",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1872,
        2768
      ],
      "id": "c7e0376b-4fdb-4bcc-b746-1a7f4c3bf35b",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.feishu.cn/open-apis/auth/v3/tenant_access_token/internal/",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"Content-Type\":\"application/json; charset=utf-8\"\n}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"app_id\": {{ $json.app_id.toJsonString() }},\n    \"app_secret\": {{ $json.app_secret.toJsonString() }}\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1488,
        2768
      ],
      "id": "b6e25ec6-2734-4267-b732-24d1985382f6",
      "name": "获取飞书Token",
      "notesInFlow": true,
      "notes": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ad0fb75f-4bf4-4157-8641-07b6d87aa235",
              "name": "app_id",
              "value": "cli_a8759c6a213d500e",
              "type": "string"
            },
            {
              "id": "8211841d-8df6-413c-9518-6bd69380d327",
              "name": "app_secret",
              "value": "hLjKsc00B0lCNEM9Vr0qkdjC06mIj6mb",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1680,
        2768
      ],
      "id": "d8da517e-b471-49cd-b389-3932278e3f00",
      "name": "设置应用凭证",
      "notesInFlow": true,
      "notes": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.feishu.cn/open-apis/im/v1/messages",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "receive_id_type",
              "value": "chat_id"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.tenant_access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"receive_id\":\"oc_9619619c722d54d1b6589f7405855d59\",\n  \"msg_type\": \"text\",\n  \"content\": \"{\\\"text\\\":\\\"<at user_id=\\\\\\\"all\\\\\\\">南哥</at> 大家好，这里是南哥AGI研习社。[南哥AGI研习社](https://nangeai.top)\\\"}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1184,
        2240
      ],
      "id": "b412f619-7e23-4274-b4ef-15caf9fe3b98",
      "name": "向群组发送文本消息",
      "notesInFlow": true,
      "notes": "HTTP Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.feishu.cn/open-apis/im/v1/messages",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "receive_id_type",
              "value": "chat_id"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('获取飞书Token').item.json.tenant_access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"receive_id\":\"oc_9619619c722d54d1b6589f7405855d59\",\n    \"msg_type\": \"post\",\n    \"content\":\"{\\\"zh_cn\\\":{\\\"title\\\":\\\"南哥AGI研习社\\\",\\\"content\\\":[[{\\\"tag\\\":\\\"text\\\",\\\"text\\\":\\\"大模型代理平台 :\\\"},{\\\"tag\\\":\\\"a\\\",\\\"href\\\":\\\"https://nangeai.top\\\",\\\"text\\\":\\\"nangeai.top\\\"},{\\\"tag\\\":\\\"at\\\",\\\"user_id\\\":\\\"\\\",\\\"user_name\\\":\\\"所有人\\\"}],[{\\\"tag\\\":\\\"img\\\",\\\"image_key\\\":\\\"{{ $json.data.image_key }}\\\"}]]}}\"\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -304,
        2480
      ],
      "id": "1315c8ea-8350-4d3d-bd44-5898b7be8144",
      "name": "向群组发送富文本",
      "notesInFlow": true,
      "notes": "HTTP Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.feishu.cn/open-apis/im/v1/messages",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "receive_id_type",
              "value": "chat_id"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('获取飞书Token').item.json.tenant_access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"receive_id\":\"oc_9619619c722d54d1b6589f7405855d59\",\n  \"msg_type\": \"image\",\n  \"content\": \"{\\\"image_key\\\": \\\"{{ $json.data.image_key }}\\\"}\"\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -304,
        2304
      ],
      "id": "737e8c37-4e59-426d-9f84-aceecd76940a",
      "name": "向群组发送图片",
      "notesInFlow": true,
      "notes": "HTTP Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.feishu.cn/open-apis/im/v1/images",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('获取飞书Token').item.json.tenant_access_token }}"
            },
            {
              "name": "Content-Type",
              "value": "multipart/form-data"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "image_type",
              "value": "message"
            },
            {
              "parameterType": "formBinaryData",
              "name": "image",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -736,
        2656
      ],
      "id": "f9aea755-78cc-449e-bde4-e359bf0f6b5d",
      "name": "上传图片到飞书",
      "notesInFlow": true,
      "notes": "HTTP Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.feishu.cn/open-apis/im/v1/messages",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "receive_id_type",
              "value": "chat_id"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('获取飞书Token').item.json.tenant_access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"receive_id\":\"oc_9619619c722d54d1b6589f7405855d59\",\n  \"msg_type\": \"interactive\",\n  \"content\": \"{\\\"type\\\":\\\"template\\\",\\\"data\\\":{\\\"template_id\\\":\\\"AAqhwSFEnW3pt\\\",\\\"template_version_name\\\":\\\"1.1.5\\\",\\\"template_variable\\\":{\\\"picture\\\":{\\\"img_key\\\":\\\"{{ $json.data.image_key }}\\\"},\\\"link\\\":{\\\"url\\\":\\\"https://nangeai.top\\\"}}}}\"\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -304,
        2656
      ],
      "id": "71239a0f-59ff-4fdc-88a3-87c151b89229",
      "name": "向群组发送消息卡片",
      "notesInFlow": true,
      "notes": "HTTP Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.feishu.cn/open-apis/im/v1/messages",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "receive_id_type",
              "value": "chat_id"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.tenant_access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"receive_id\":\"oc_9619619c722d54d1b6589f7405855d59\",\n  \"msg_type\": \"share_chat\",\n  \"content\": \"{\\\"chat_id\\\":\\\"oc_9619619c722d54d1b6589f7405855d59\\\"}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1184,
        2448
      ],
      "id": "0b2be580-47c7-4694-b609-24dfc0849696",
      "name": "向群组发送群名片",
      "notesInFlow": true,
      "notes": "HTTP Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.feishu.cn/open-apis/im/v1/messages",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "receive_id_type",
              "value": "chat_id"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('获取飞书Token').item.json.tenant_access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"receive_id\":\"oc_9619619c722d54d1b6589f7405855d59\",\n  \"msg_type\": \"audio\",\n  \"content\": \"{\\\"file_key\\\":\\\"{{ $json.data.file_key }}\\\"}\"\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -304,
        2864
      ],
      "id": "4fd52d5a-0c36-4ddc-ac44-b6a1fc7139eb",
      "name": "向群组发送语音",
      "notesInFlow": true,
      "notes": "HTTP Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.feishu.cn/open-apis/im/v1/files",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('获取飞书Token').item.json.tenant_access_token }}"
            },
            {
              "name": "Content-Type",
              "value": "multipart/form-data"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "file_type",
              "value": "opus"
            },
            {
              "name": "file_name",
              "value": "audio.opus"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -736,
        2864
      ],
      "id": "a767b91b-65c3-4742-be26-fd10f5607c0b",
      "name": "上传音频到飞书",
      "notesInFlow": true,
      "notes": "HTTP Request"
    },
    {
      "parameters": {
        "fileSelector": "./.n8n-files/pictures/picture.png",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -1184,
        2656
      ],
      "id": "9f997113-c52a-488f-a99c-a112b596e20e",
      "name": "读取本地图片"
    },
    {
      "parameters": {
        "fileSelector": "./.n8n-files/audios/audio.opus",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -1184,
        2864
      ],
      "id": "6fac515d-a850-4506-9345-b11afa5bdaf4",
      "name": "读取本地音频"
    },
    {
      "parameters": {
        "fileSelector": "./.n8n-files/videos/video.mp4",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -1184,
        3072
      ],
      "id": "1297457d-ad5b-4b1d-9b98-d5defe64ecfe",
      "name": "读取本地视频"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.feishu.cn/open-apis/im/v1/files",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('获取飞书Token').item.json.tenant_access_token }}"
            },
            {
              "name": "Content-Type",
              "value": "multipart/form-data"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "file_type",
              "value": "mp4"
            },
            {
              "name": "file_name",
              "value": "video.mp4"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -960,
        3072
      ],
      "id": "e8fcc9c3-7911-45de-b1a9-59c1306a226d",
      "name": "上传视频到飞书",
      "notesInFlow": true,
      "notes": "HTTP Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.feishu.cn/open-apis/im/v1/messages",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "receive_id_type",
              "value": "chat_id"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('获取飞书Token').item.json.tenant_access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"receive_id\":\"oc_9619619c722d54d1b6589f7405855d59\",\n  \"msg_type\": \"media\",\n  \"content\": \"{\\\"file_key\\\":\\\"{{ $('上传视频到飞书').item.json.data.file_key }}\\\",\\\"image_key\\\":\\\"{{ $json.data.image_key }}\\\"}\"\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -304,
        3072
      ],
      "id": "af53ae40-3ca8-4f9e-962b-5d1931faa6d1",
      "name": "向群组发送视频",
      "notesInFlow": true,
      "notes": "HTTP Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.feishu.cn/open-apis/im/v1/images",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('获取飞书Token').item.json.tenant_access_token }}"
            },
            {
              "name": "Content-Type",
              "value": "multipart/form-data"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "image_type",
              "value": "message"
            },
            {
              "parameterType": "formBinaryData",
              "name": "image",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -512,
        3072
      ],
      "id": "055ae2b4-4385-47c5-b46b-970a766a35b3",
      "name": "上传视频封面图片到飞书",
      "notesInFlow": true,
      "notes": "HTTP Request"
    },
    {
      "parameters": {
        "fileSelector": "./.n8n-files/pictures/picture.png",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -736,
        3072
      ],
      "id": "8e0bc9d4-5c7e-4f47-bbc2-384162792687",
      "name": "读取本地视频封面图片"
    },
    {
      "parameters": {
        "fileSelector": "./.n8n-files/files/file.pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -1184,
        3296
      ],
      "id": "cb4b59a3-0381-4da5-8a42-0875e1d76df2",
      "name": "读取本地文件"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.feishu.cn/open-apis/im/v1/files",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('获取飞书Token').item.json.tenant_access_token }}"
            },
            {
              "name": "Content-Type",
              "value": "multipart/form-data"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "file_type",
              "value": "pdf"
            },
            {
              "name": "file_name",
              "value": "file.pdf"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -736,
        3296
      ],
      "id": "d0cc3138-e2d4-46bc-a428-7b844dd09ca9",
      "name": "上传文件到飞书",
      "notesInFlow": true,
      "notes": "HTTP Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.feishu.cn/open-apis/im/v1/messages",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "receive_id_type",
              "value": "chat_id"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('获取飞书Token').item.json.tenant_access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"receive_id\":\"oc_9619619c722d54d1b6589f7405855d59\",\n  \"msg_type\": \"file\",\n  \"content\": \"{\\\"file_key\\\":\\\"{{ $json.data.file_key }}\\\"}\"\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -304,
        3296
      ],
      "id": "466e20d3-37aa-4d49-84fd-18061fbb65ed",
      "name": "向群组发送文件",
      "notesInFlow": true,
      "notes": "HTTP Request"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "设置应用凭证",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "获取飞书Token": {
      "main": [
        [
          {
            "node": "向群组发送文本消息",
            "type": "main",
            "index": 0
          },
          {
            "node": "读取本地图片",
            "type": "main",
            "index": 0
          },
          {
            "node": "向群组发送群名片",
            "type": "main",
            "index": 0
          },
          {
            "node": "读取本地音频",
            "type": "main",
            "index": 0
          },
          {
            "node": "读取本地视频",
            "type": "main",
            "index": 0
          },
          {
            "node": "读取本地文件",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "设置应用凭证": {
      "main": [
        [
          {
            "node": "获取飞书Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "上传图片到飞书": {
      "main": [
        [
          {
            "node": "向群组发送图片",
            "type": "main",
            "index": 0
          },
          {
            "node": "向群组发送富文本",
            "type": "main",
            "index": 0
          },
          {
            "node": "向群组发送消息卡片",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "上传音频到飞书": {
      "main": [
        [
          {
            "node": "向群组发送语音",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "读取本地图片": {
      "main": [
        [
          {
            "node": "上传图片到飞书",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "读取本地音频": {
      "main": [
        [
          {
            "node": "上传音频到飞书",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "读取本地视频": {
      "main": [
        [
          {
            "node": "上传视频到飞书",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "上传视频到飞书": {
      "main": [
        [
          {
            "node": "读取本地视频封面图片",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "上传视频封面图片到飞书": {
      "main": [
        [
          {
            "node": "向群组发送视频",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "读取本地视频封面图片": {
      "main": [
        [
          {
            "node": "上传视频封面图片到飞书",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "读取本地文件": {
      "main": [
        [
          {
            "node": "上传文件到飞书",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "上传文件到飞书": {
      "main": [
        [
          {
            "node": "向群组发送文件",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5e945bdb-ec83-41e1-a8f5-257df3e1dbb8",
  "meta": {
    "instanceId": "830bfffc51ff88cd51b86a768f6a50a5b290896243e17b0bdf0f08551c38ba51"
  },
  "id": "WaAfOKqTgsnVN78V",
  "tags": [
    {
      "updatedAt": "2025-10-30T12:47:20.269Z",
      "createdAt": "2025-10-30T12:47:20.269Z",
      "id": "f21vDmcMsvedJbTO",
      "name": "飞书"
    },
    {
      "name": "群消息",
      "id": "5zBQP6bExWmcOPEP",
      "updatedAt": "2025-12-15T06:33:20.364Z",
      "createdAt": "2025-12-15T06:33:20.364Z"
    }
  ]
}