workflows/06_飞书+n8n搭建7x24小时AI短视频自动化运营系统/WorkFlow/【08_小红书平台_n8n定时触发】短视频自动发布工作流.json
{
  "name": "【08_小红书平台_n8n定时触发】短视频自动发布工作流",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -10128,
        576
      ],
      "id": "6bce07b0-4977-4551-a548-1dd3aa2bbcaa",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.feishu.cn/open-apis/auth/v3/tenant_access_token/internal/",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"Content-Type\":\"application/json; charset=utf-8\"\n}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n    \"app_id\": \"cli_a\",\n    \"app_secret\": \"hL\"\n}",
        "options": {
          "timeout": 60000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -9744,
        576
      ],
      "id": "c6841cad-9eae-4d2a-b206-dabdb2d0d5d5",
      "name": "获取飞书token",
      "notesInFlow": true,
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "maxTries": 5,
      "notes": "HTTP Request"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -8416,
        656
      ],
      "id": "12841629-146f-4b18-8a9d-ac969260afda",
      "name": "循环处理",
      "notesInFlow": true,
      "notes": "Loop Over Items"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://open.feishu.cn/open-apis/bitable/v1/apps/{{ $json.app_token }}/tables/{{ $json.table_id }}/records/search ",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "user_id_type",
              "value": "open_id"
            },
            {
              "name": "page_token"
            },
            {
              "name": "page_size",
              "value": "20"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('获取飞书token').item.json.tenant_access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"sort\": [\n    {\n      \"field_name\": \"id\",\n      \"desc\": true\n    }\n  ],\n  \"filter\": {\n    \"conjunction\": \"and\",\n    \"conditions\": [\n      {\n        \"field_name\": \"发布日期\",\n        \"operator\": \"is\",\n        \"value\": [\n          \"Today\"\n        ]\n      },\n      {\n        \"field_name\": \"发布平台\",\n        \"operator\": \"is\",\n        \"value\": [\n          \"小红书\"\n        ]\n      },\n      {\n        \"field_name\": \"当前状态\",\n        \"operator\": \"is\",\n        \"value\": [\n          \"确认完毕\"\n        ]\n      }\n    ]\n  },\n  \"automatic_fields\": false\n}",
        "options": {
          "timeout": 60000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -8800,
        368
      ],
      "id": "03b6fb79-3669-402b-8abe-a9574fe5e727",
      "name": "获取多维表格记录",
      "notesInFlow": true,
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "maxTries": 5,
      "notes": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c5d06deb-33dc-471e-8892-bbf2bb8c94f5",
              "name": "app_token",
              "value": "GGgVbo7jEarC8PsFNXFcpPQPnMe",
              "type": "string"
            },
            {
              "id": "1817ab91-0b11-40ed-b13e-2d8367d99638",
              "name": "table_id",
              "value": "tblO9cucSw4r39Ek",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -8976,
        368
      ],
      "id": "02d88abc-6466-40bc-b1c8-49d14a5303e3",
      "name": "指定多维表格",
      "notesInFlow": true,
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "notes": "Edit Fields"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -8160,
        208
      ],
      "id": "42acc100-a0c6-4360-aa33-1be9c1d703b7",
      "name": "合并最终数据统一处理",
      "notesInFlow": true,
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "notes": "Aggregate"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.feishu.cn/open-apis/im/v1/messages",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "receive_id_type",
              "value": "chat_id"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('获取飞书token2').item.json.tenant_access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"receive_id\":\"oc_9619619c722d54d1b6589f7405855d59\",\n    \"msg_type\": \"post\",\n    \"content\":\"{\\\"zh_cn\\\":{\\\"title\\\":\\\"小红书发布进度\\\",\\\"content\\\":[[{\\\"tag\\\":\\\"at\\\",\\\"user_id\\\":\\\"\\\",\\\"user_name\\\":\\\"所有人\\\"}],[{\\\"tag\\\":\\\"md\\\",\\\"text\\\":\\\"**今天的短视频发布已全部完成** \\\"}],[{\\\"tag\\\":\\\"a\\\",\\\"href\\\":\\\"https://mcn33lfbwjgi.feishu.cn/base/GGgVbo7jEarC8PsFNXFcpPQPnMe?table=tblO9cucSw4r39Ek&view=vewHpn0Ef6\\\",\\\"text\\\":\\\"点击查看详情\\\"}]]}}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -7760,
        208
      ],
      "id": "77c9fc44-3190-4786-b14c-737ccf74826e",
      "name": "向群组发送已完成消息",
      "notesInFlow": true,
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "notes": "HTTP Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://open.feishu.cn/open-apis/bitable/v1/apps/{{ $('指定多维表格').item.json.app_token }}/tables/{{ $('指定多维表格').item.json.table_id }}/records/search ",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "user_id_type",
              "value": "open_id"
            },
            {
              "name": "page_token"
            },
            {
              "name": "page_size",
              "value": "20"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('获取飞书token').item.json.tenant_access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"sort\": [\n    {\n      \"field_name\": \"id\",\n      \"desc\": true\n    }\n  ],\n  \"filter\": {\n    \"conjunction\": \"and\",\n    \"conditions\": [\n      {\n        \"field_name\": \"id\",\n        \"operator\": \"is\",\n        \"value\": [\n          {{ $json.id }}\n        ]\n      }\n    ]\n  },\n  \"automatic_fields\": false\n}",
        "options": {
          "timeout": 60000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -8160,
        672
      ],
      "id": "e20b67ab-0c85-4605-87ca-54dff71ddee1",
      "name": "获取多维表格单条记录",
      "notesInFlow": true,
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "maxTries": 5,
      "notes": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst list = items[0].json.data.items;\n\nreturn list.map(row => {\n  return {\n    json: {\n      id: row.fields.id,\n      record_id: row.record_id,\n    },\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -8640,
        368
      ],
      "id": "0e52e3cb-d89f-4c8e-a26b-1b5907bab2df",
      "name": "拆分和过滤数据",
      "notesInFlow": true,
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "notes": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9c725f6a-1aff-4dd0-8d5a-80f9db0dcbe8",
              "leftValue": "={{ $('检查小红书当前登陆状态').item.json.output.isLogin }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -9216,
        480
      ],
      "id": "ca06d398-98b8-40e2-8e44-56234fc6541e",
      "name": "登陆是否成功",
      "notesInFlow": true,
      "notes": "If"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -9776,
        784
      ],
      "id": "3d247117-74e8-4d09-91a4-f2e55bf30b0a",
      "name": "gpt-4.1-mini",
      "notesInFlow": true,
      "credentials": {
        "openAiApi": {
          "id": "KcHzWF39O8ZtiGQr",
          "name": "OpenAi account"
        }
      },
      "notes": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "endpointUrl": "={{ $('定义小红书MCP端点').item.json.xhs_endpoint }}",
        "include": "selected",
        "includeTools": [
          "check_login_status"
        ],
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.2,
      "position": [
        -9648,
        784
      ],
      "id": "c61c9f2d-ae6e-4610-840b-fd71327f1d87",
      "name": "小红书MCP",
      "notesInFlow": true,
      "notes": "MCP Client"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://open.feishu.cn/open-apis/bitable/v1/apps/{{ $('指定多维表格').item.json.app_token }}/tables/{{ $('指定多维表格').item.json.table_id }}/records/{{ $json.data.items[0].record_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('获取飞书token').item.json.tenant_access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"fields\": {\n    \"当前状态\": \"发布中\"\n  }\n} ",
        "options": {
          "timeout": 60000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -7968,
        672
      ],
      "id": "2242c1eb-bbf2-43d1-925a-54be0ab26467",
      "name": "更新记录 发布中",
      "notesInFlow": true,
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "notes": "HTTP Request"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=根据视频文案内容生成小红书风格的标题、正文以及标签，并以json格式化输出。\n\n规则：\n标题字数20字以内\n正文字数300字以内\n标签4个，且以#开头\n\n文案内容如下所示：\n\n{{ $('获取多维表格记录').item.json.data.items[0].fields['脚本文案'][0].text }}",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -7680,
        512
      ],
      "id": "c85e2735-4ac9-4ed2-b958-f55fac41c1af",
      "name": "小红书风格标题和文案润色",
      "notesInFlow": true,
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "notes": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -7616,
        736
      ],
      "id": "a8ef6483-0d8b-4a57-9b75-32afbf9971a7",
      "name": "deepseek-v3 ",
      "notesInFlow": true,
      "credentials": {
        "openAiApi": {
          "id": "KcHzWF39O8ZtiGQr",
          "name": "OpenAi account"
        }
      },
      "notes": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"isLogin\": true\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -9392,
        784
      ],
      "id": "f77a48e1-b715-4312-a110-bc1146368b67",
      "name": "结构化输出结果",
      "notesInFlow": true,
      "notes": "Structured Output Parser"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=./.n8n-files/{{ $('设置本地文件夹名称').item.json.fold }}/{{ $json[\"短视频名称\"] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -6128,
        592
      ],
      "id": "dc273a35-04be-4174-ba75-4ddd6c6a2fab",
      "name": "保存短视频到本地",
      "notesInFlow": true,
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "notes": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "url": "=https://open.feishu.cn/open-apis/drive/v1/medias/{{ $json['短视频元数据'][0].file_token }}/download",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('获取飞书token').item.json.tenant_access_token }}"
            }
          ]
        },
        "options": {
          "timeout": 60000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -6464,
        592
      ],
      "id": "313cad60-346d-436c-ba65-ffd531f6bc70",
      "name": "下载短视频",
      "notesInFlow": true,
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "notes": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "88f93589-8d95-43f8-9534-d9cbfc59c4ba",
              "name": "短视频元数据",
              "value": "={{ $('获取多维表格单条记录').item.json.data.items[0].fields[\"短视频\"] }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -6608,
        592
      ],
      "id": "6c37145b-b0e9-4d4e-980e-85cf5b9fbb50",
      "name": "获取短视频元数据",
      "notesInFlow": true,
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "notes": "Edit Fields"
    },
    {
      "parameters": {
        "command": "=mkdir -p ./n8ndata/{{ $json.fold }}"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -6784,
        592
      ],
      "id": "a224dc94-7fc6-43d6-a06b-6e9281cfdd99",
      "name": "执行命令创建文件夹",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "notesInFlow": true,
      "notes": "Execute Command"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5f62450b-99eb-40d2-b859-1a5d2fa24de1",
              "name": "fold",
              "value": "=xhs_short_video/{{ $now.toFormat('yyyy-MM-dd') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -6960,
        592
      ],
      "id": "0f45a875-8a20-4339-bab0-d2ead3dd2cf8",
      "name": "设置本地文件夹名称",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "notesInFlow": true,
      "notes": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "// 获取输入文本\nconst inputText = $input.first().json.output.title;\n\n// 格式化文本函数 - 反向操作，只保留需要的字符\nfunction formatText(text) {\n  let cleanedText = text;\n  \n  // 1. 只保留中文、英文、数字、常用标点符号和空格\n  // 这样可以有效去除所有emoji（包括复合emoji）\n  cleanedText = cleanedText.replace(/[^\\u4e00-\\u9fff\\u3400-\\u4dbf\\u3000-\\u303f\\uff00-\\uffefa-zA-Z0-9\\s.,!?;:()（）！？；：、。，]/g, '');\n  \n  // 2. 去除换行符，替换为空格\n  cleanedText = cleanedText.replace(/\\n+/g, ' ');\n  \n  // 3. 去除tag标签（#开头的词汇）\n  cleanedText = cleanedText.replace(/#[^\\s#]+/g, '');\n  \n  // 4. 去除单双引号\n  cleanedText = cleanedText.replace(/['\"]/g, '');\n  \n  // 5. 清理多余空格并修剪首尾空格\n  cleanedText = cleanedText.replace(/\\s+/g, ' ').trim();\n  \n  return cleanedText;\n}\n\n// 处理文本\nconst formattedText = formatText(inputText);\n\n// 返回n8n格式的结果\nreturn [\n  {\n    json: {\n      formatted_text: formattedText,\n      character_count: formattedText.length\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -7136,
        592
      ],
      "id": "feda98e7-eea7-49d8-a34e-68fad9c0a825",
      "name": "标题格式化处理",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "notesInFlow": true,
      "notes": "Code in JavaScript"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5f62450b-99eb-40d2-b859-1a5d2fa24de1",
              "name": "短视频名称",
              "value": "={{ $('标题格式化处理').item.json.formatted_text }}_{{ $now.toFormat('yyyyMMddHHmmss') }}_{{ $json['短视频元数据'][0].name }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -6304,
        592
      ],
      "id": "433e5bc1-865f-482e-b574-93a4f53968f3",
      "name": "设置短视频名称",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "notesInFlow": true,
      "notes": "Edit Fields"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"title\": \"小红书标题\",\n\t\"content\": \"小红书正文\",\n    \"tags\":\"#AI,#小红书\"\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -7472,
        752
      ],
      "id": "66748c67-a44b-4d30-b847-246198ac1b94",
      "name": "结构化输出标题和正文",
      "notesInFlow": true,
      "notes": "Structured Output Parser"
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -4960,
        720
      ],
      "id": "57b399e3-137c-469e-90ed-51d127eda59b",
      "name": "等待10分钟",
      "webhookId": "32ddceda-6336-4528-a794-8d523fb6db50",
      "notesInFlow": true,
      "notes": "Wait"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.feishu.cn/open-apis/auth/v3/tenant_access_token/internal/",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"Content-Type\":\"application/json; charset=utf-8\"\n}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n    \"app_id\": \"cli_a8759c6a213d500e\",\n    \"app_secret\": \"hLjKsc00B0lCNEM9Vr0qkdjC06mIj6mb\"\n}",
        "options": {
          "timeout": 60000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -7968,
        208
      ],
      "id": "30fec563-34f6-47b4-88ca-dcddb7c20013",
      "name": "获取飞书token2",
      "notesInFlow": true,
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "maxTries": 5,
      "notes": "HTTP Request"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "使用xiaohongshu-mcp中的check_login_status，检查小红书登陆状态，并以json结构化数据输出，数据类型为布尔类型\n\n例子：\n{\n    isLogin:true\n}",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -9568,
        576
      ],
      "id": "222d4d7d-414c-44f6-a36e-44f27fb74743",
      "name": "检查小红书当前登陆状态",
      "notesInFlow": true,
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "onError": "continueErrorOutput",
      "notes": "AI Agent"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "52d2b100-5540-4da3-8ff6-8a5442094c6b",
              "name": "error",
              "value": "Agent获取登陆状态出错，请检查工作流。",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -8976,
        752
      ],
      "id": "6b2e542f-b41c-4a79-92c7-b66012fed52b",
      "name": "定义Agent错误提示消息",
      "notesInFlow": true,
      "notes": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "52d2b100-5540-4da3-8ff6-8a5442094c6b",
              "name": "error",
              "value": "登陆状态异常，请重新登陆。",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -8976,
        560
      ],
      "id": "6d984400-f5b9-411f-a795-b05c18ac1613",
      "name": "定义登陆状态失效提示消息",
      "notesInFlow": true,
      "notes": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.feishu.cn/open-apis/im/v1/messages",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "receive_id_type",
              "value": "chat_id"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('获取飞书token').item.json.tenant_access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"receive_id\":\"oc_9619619c722d54d1b6589f7405855d59\",\n    \"msg_type\": \"post\",\n    \"content\":\"{\\\"zh_cn\\\":{\\\"title\\\":\\\"小红书发布进度\\\",\\\"content\\\":[[{\\\"tag\\\":\\\"at\\\",\\\"user_id\\\":\\\"\\\",\\\"user_name\\\":\\\"所有人\\\"}],[{\\\"tag\\\":\\\"md\\\",\\\"text\\\":\\\"{{ $json.error }} \\\"}]]}}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -8752,
        560
      ],
      "id": "26de66b6-ae70-4bae-8dfe-c6ef0a5a3f97",
      "name": "向群组发送登陆失效消息",
      "notesInFlow": true,
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "notes": "HTTP Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.feishu.cn/open-apis/im/v1/messages",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "receive_id_type",
              "value": "chat_id"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('获取飞书token').item.json.tenant_access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"receive_id\":\"oc_9619619c722d54d1b6589f7405855d59\",\n    \"msg_type\": \"post\",\n    \"content\":\"{\\\"zh_cn\\\":{\\\"title\\\":\\\"小红书发布进度\\\",\\\"content\\\":[[{\\\"tag\\\":\\\"at\\\",\\\"user_id\\\":\\\"\\\",\\\"user_name\\\":\\\"所有人\\\"}],[{\\\"tag\\\":\\\"md\\\",\\\"text\\\":\\\"{{ $json.error }} \\\"}]]}}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -8752,
        752
      ],
      "id": "c6d9c088-6e0c-4255-ac54-47cd7bf1d6a9",
      "name": "向群组发送错误消息",
      "notesInFlow": true,
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "notes": "HTTP Request"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -9520,
        784
      ],
      "id": "2c013e91-c6d6-4d89-92de-8bb1f8521f39",
      "name": "deepseek-v3  ",
      "notesInFlow": true,
      "credentials": {
        "openAiApi": {
          "id": "KcHzWF39O8ZtiGQr",
          "name": "OpenAi account"
        }
      },
      "notes": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -7760,
        736
      ],
      "id": "f432d35d-d849-4bee-80a0-bccbdad86e6c",
      "name": "gpt-4.1-mini  ",
      "notesInFlow": true,
      "credentials": {
        "openAiApi": {
          "id": "KcHzWF39O8ZtiGQr",
          "name": "OpenAi account"
        }
      },
      "notes": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -10128,
        432
      ],
      "id": "1a921d1a-b591-4094-aca5-26d61e9fb251",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "使用xiaohongshu-mcp中的check_login_status，检查小红书登陆状态，并以json结构化数据输出，数据类型为布尔类型\n\n例子：\n{\n    isLogin:true\n}",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -10128,
        -144
      ],
      "id": "f9035d21-2bca-4db9-9f6d-91410bcd1632",
      "name": "检查小红书登陆",
      "notesInFlow": true,
      "notes": "AI Agent"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"isLogin\": true\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -9904,
        64
      ],
      "id": "22b079c2-ad92-4d1f-9323-ad6360fef64b",
      "name": "结构化输出登陆结果",
      "notesInFlow": true,
      "notes": "Structured Output Parser"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -9616,
        -112
      ],
      "id": "c447c54b-e4d7-400f-8a8d-82ea666b845d",
      "name": "gpt-4.1-mini1",
      "notesInFlow": true,
      "credentials": {
        "openAiApi": {
          "id": "KcHzWF39O8ZtiGQr",
          "name": "OpenAi account"
        }
      },
      "notes": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "endpointUrl": "http://192.168.1.7:18060/mcp",
        "include": "selected",
        "includeTools": [
          "publish_content"
        ],
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.2,
      "position": [
        -9456,
        -112
      ],
      "id": "2b20604b-1be7-45b8-b2a8-e6a12bbb84a0",
      "name": "小红书MCP1",
      "notesInFlow": true,
      "notes": "MCP Client"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "52d2b100-5540-4da3-8ff6-8a5442094c6b",
              "name": "错误信息",
              "value": "登陆异常",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -9616,
        96
      ],
      "id": "8abf9987-2b66-4d9b-aa1b-8d2cd9b64d07",
      "name": "账号登陆错误",
      "notesInFlow": true,
      "notes": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9c725f6a-1aff-4dd0-8d5a-80f9db0dcbe8",
              "leftValue": "={{ $json.output.isLogin }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -9824,
        -144
      ],
      "id": "a8f7517d-63a1-43ce-a983-ef0edd737147",
      "name": "登陆是否成功1",
      "notesInFlow": true,
      "notes": "If"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -10176,
        64
      ],
      "id": "93c52574-d747-4901-86ab-48428213f6b6",
      "name": "gpt-4.1-mini2",
      "notesInFlow": true,
      "credentials": {
        "openAiApi": {
          "id": "KcHzWF39O8ZtiGQr",
          "name": "OpenAi account"
        }
      },
      "notes": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "endpointUrl": "http://192.168.1.7:18060/mcp",
        "include": "selected",
        "includeTools": [
          "check_login_status"
        ],
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.2,
      "position": [
        -10048,
        64
      ],
      "id": "9c9b6c5c-5b80-481a-9e82-17fcafc8bd09",
      "name": "小红书MCP2",
      "notesInFlow": true,
      "notes": "MCP Client"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "使用xiaohongshu-mcp中的publish_content\n标题：\"这里是南哥AGI研习社\"\n正文：'南哥AGI研习社'\n配图： /Volumes/Files/xhsmcp/01.jpg、/Volumes/Files/xhsmcp/02.jpg\n标签：#AI、#n8n\n\n请立即发布，不需要确认。",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -9616,
        -304
      ],
      "id": "b4581259-1812-4a09-b09c-e173192a8ded",
      "name": "发布小红书图文1",
      "notesInFlow": true,
      "notes": "AI Agent"
    },
    {
      "parameters": {
        "content": "## 定时触发\n- 检查小红书登陆状态\n- 获取当前触发的表格记录内容",
        "height": 640,
        "width": 1696,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -10208,
        304
      ],
      "typeVersion": 1,
      "id": "32d7faec-482b-49ac-ac2e-c20b71eeb4d4",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ef740281-8365-414c-baa8-79d8f7014992",
              "name": "xhs_endpoint",
              "value": "http://192.168.0.44:18060/mcp",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -9936,
        576
      ],
      "id": "3842ec8a-a1f1-464c-8442-a9a7116de754",
      "name": "定义小红书MCP端点"
    },
    {
      "parameters": {
        "content": "## AI润色文案\n- 获取当前循环的记录内容\n- 根据发布平台的不同润色不同风格的文案",
        "height": 512,
        "width": 992,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -8208,
        368
      ],
      "typeVersion": 1,
      "id": "ec1b33b6-b194-47dd-ad00-00d737722550",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## 短视频发布归档\n- 以发布日期动态创建文件夹\n- 发布成功的视频自动归档\n- 从飞书多维表格记录中的短视频列下载短视频",
        "height": 512,
        "width": 1200,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -7184,
        368
      ],
      "typeVersion": 1,
      "id": "8659a7b8-bb86-46bf-b424-ac940457af18",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## 小红书MCP测试",
        "height": 576,
        "width": 928,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -10208,
        -320
      ],
      "typeVersion": 1,
      "id": "1578b3cb-1276-44a3-b943-b8b079b7bf12",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"isPublished\": true\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -5488,
        720
      ],
      "id": "4e2925e9-bc1e-4d2c-a364-febacd9efb82",
      "name": "结构化输出发布结果",
      "notesInFlow": true,
      "notes": "Structured Output Parser"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -5616,
        720
      ],
      "id": "3bbc1ae5-0233-4bfd-bf34-3272899091d8",
      "name": "deepseek-v3   ",
      "notesInFlow": true,
      "credentials": {
        "openAiApi": {
          "id": "KcHzWF39O8ZtiGQr",
          "name": "OpenAi account"
        }
      },
      "notes": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9c725f6a-1aff-4dd0-8d5a-80f9db0dcbe8",
              "leftValue": "={{ $json.output.isPublished }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -5584,
        480
      ],
      "id": "dc875be0-5bb7-481a-9b0d-04a8bc30adc6",
      "name": "发布是否成功",
      "notesInFlow": true,
      "notes": "If"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://open.feishu.cn/open-apis/bitable/v1/apps/{{ $('指定多维表格').item.json.app_token }}/tables/{{ $('指定多维表格').item.json.table_id }}/records/{{ $('循环处理').item.json.record_id }} }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('获取飞书token').item.json.tenant_access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"fields\": {\n    \"当前状态\": \"发布出错\",\n    \"发布日期\": {{ '' + $now }} \n  }\n} ",
        "options": {
          "timeout": 60000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -5360,
        544
      ],
      "id": "ba3f2fad-8daf-4c49-bc22-628879866490",
      "name": "更新记录 发布出错",
      "notesInFlow": true,
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "notes": "HTTP Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.feishu.cn/open-apis/im/v1/messages",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "receive_id_type",
              "value": "chat_id"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('获取飞书token').item.json.tenant_access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"receive_id\":\"oc_9619619c722d54d1b6589f7405855d59\",\n    \"msg_type\": \"post\",\n    \"content\":\"{\\\"zh_cn\\\":{\\\"title\\\":\\\"小红书发布进度\\\",\\\"content\\\":[[{\\\"tag\\\":\\\"at\\\",\\\"user_id\\\":\\\"\\\",\\\"user_name\\\":\\\"所有人\\\"}],[{\\\"tag\\\":\\\"md\\\",\\\"text\\\":\\\"**视频主题**:{{ $('获取多维表格单条记录').item.json.data.items[0].fields['主题'][0].text }}\\\\\\n **发布时间**:{{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}\\\\\\n **当前状态**:{{ $json.data.record.fields['当前状态'] }}\\\"}],[{\\\"tag\\\":\\\"a\\\",\\\"href\\\":\\\"https://mcn33lfbwjgi.feishu.cn/base/GGgVbo7jEarC8PsFNXFcpPQPnMe?table=tblO9cucSw4r39Ek&view=vewjgLPj6q\\\",\\\"text\\\":\\\"点击查看详情\\\"}]]}}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -5152,
        544
      ],
      "id": "ad57502a-af17-4e55-b953-51c5f60ed36b",
      "name": "向群组发送即时消息 ",
      "notesInFlow": true,
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "notes": "HTTP Request"
    },
    {
      "parameters": {
        "content": "## 短视频发布到小红书\n- 在小红书中发布视频\n- 发布成功后修改当前记录状态为“已发布”\n- 群消息通知发布实时状态",
        "height": 512,
        "width": 1152,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -5952,
        368
      ],
      "typeVersion": 1,
      "id": "985716d1-b99c-48dd-9050-1670835cd96e",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://open.feishu.cn/open-apis/bitable/v1/apps/{{ $('指定多维表格').item.json.app_token }}/tables/{{ $('指定多维表格').item.json.table_id }}/records/{{ $('循环处理').item.json.record_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('获取飞书token').item.json.tenant_access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"fields\": {\n    \"当前状态\": \"已发布\",\n    \"发布日期\": {{ '' + $now }} \n  }\n} ",
        "options": {
          "timeout": 60000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -5360,
        384
      ],
      "id": "8809ef47-845e-4df5-a959-6315ada5b3ab",
      "name": "更新记录 已发布",
      "notesInFlow": true,
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "notes": "HTTP Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.feishu.cn/open-apis/im/v1/messages",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "receive_id_type",
              "value": "chat_id"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('获取飞书token').item.json.tenant_access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"receive_id\":\"oc_9619619c722d54d1b6589f7405855d59\",\n    \"msg_type\": \"post\",\n    \"content\":\"{\\\"zh_cn\\\":{\\\"title\\\":\\\"小红书发布进度\\\",\\\"content\\\":[[{\\\"tag\\\":\\\"at\\\",\\\"user_id\\\":\\\"\\\",\\\"user_name\\\":\\\"所有人\\\"}],[{\\\"tag\\\":\\\"md\\\",\\\"text\\\":\\\"**视频主题**:{{ $('获取多维表格单条记录').item.json.data.items[0].fields['主题'][0].text }}\\\\\\n **发布时间**:{{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}\\\\\\n **当前状态**:{{ $json.data.record.fields['当前状态'] }}\\\"}],[{\\\"tag\\\":\\\"a\\\",\\\"href\\\":\\\"https://mcn33lfbwjgi.feishu.cn/base/GGgVbo7jEarC8PsFNXFcpPQPnMe?table=tblO9cucSw4r39Ek&view=vewHpn0Ef6\\\",\\\"text\\\":\\\"点击查看详情\\\"}]]}}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -5152,
        384
      ],
      "id": "5b63b70d-73fc-4cf1-9ec8-9281186700a2",
      "name": "向群组发送即时消息",
      "notesInFlow": true,
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "notes": "HTTP Request"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=使用xiaohongshu-mcp中的publish_with_video\n标题：{{ $('小红书风格标题和文案润色').item.json.output.title }}\n正文：{{ $('小红书风格标题和文案润色').item.json.output.content }}\n视频： /Volumes/Files/n8n-files/{{ $('设置本地文件夹名称').item.json.fold }}/{{ $('设置短视频名称').item.json['短视频名称'] }}\n标签：{{ $('小红书风格标题和文案润色').item.json.output.tags }}\n\n请立即发布，不需要确认。 \n\n发布的结果以json结构化数据输出，数据类型为布尔类型。发布成功为true，失败则为false。",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -5888,
        512
      ],
      "id": "220d7e1e-9c9e-4e17-9f57-bd9376af8bb0",
      "name": "发布小红书图文",
      "notesInFlow": true,
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "notes": "AI Agent"
    },
    {
      "parameters": {
        "endpointUrl": "={{ $('定义小红书MCP端点').item.json.xhs_endpoint }}",
        "include": "selected",
        "includeTools": [
          "publish_with_video"
        ],
        "options": {
          "timeout": 60000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.2,
      "position": [
        -5744,
        720
      ],
      "id": "1cbf6402-5567-414f-af8f-50ff8a538f1b",
      "name": "小红书MCP ",
      "notesInFlow": true,
      "notes": "MCP Client"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -5872,
        720
      ],
      "id": "7232f928-61a0-4c4d-a0c3-5d2d2d36b46b",
      "name": "gpt-4.1-mini ",
      "notesInFlow": true,
      "credentials": {
        "openAiApi": {
          "id": "KcHzWF39O8ZtiGQr",
          "name": "OpenAi account"
        }
      },
      "notes": "OpenAI Chat Model"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "定义小红书MCP端点",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "获取飞书token": {
      "main": [
        [
          {
            "node": "检查小红书当前登陆状态",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "循环处理": {
      "main": [
        [
          {
            "node": "合并最终数据统一处理",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "获取多维表格单条记录",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "获取多维表格记录": {
      "main": [
        [
          {
            "node": "拆分和过滤数据",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "指定多维表格": {
      "main": [
        [
          {
            "node": "获取多维表格记录",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "合并最终数据统一处理": {
      "main": [
        [
          {
            "node": "获取飞书token2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "获取多维表格单条记录": {
      "main": [
        [
          {
            "node": "更新记录 发布中",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "拆分和过滤数据": {
      "main": [
        [
          {
            "node": "循环处理",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "gpt-4.1-mini": {
      "ai_languageModel": [
        [
          {
            "node": "检查小红书当前登陆状态",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "小红书MCP": {
      "ai_tool": [
        [
          {
            "node": "检查小红书当前登陆状态",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "登陆是否成功": {
      "main": [
        [
          {
            "node": "指定多维表格",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "定义登陆状态失效提示消息",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "更新记录 发布中": {
      "main": [
        [
          {
            "node": "小红书风格标题和文案润色",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "deepseek-v3 ": {
      "ai_languageModel": [
        [
          {
            "node": "结构化输出标题和正文",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "结构化输出结果": {
      "ai_outputParser": [
        [
          {
            "node": "检查小红书当前登陆状态",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "小红书风格标题和文案润色": {
      "main": [
        [
          {
            "node": "标题格式化处理",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "保存短视频到本地": {
      "main": [
        [
          {
            "node": "发布小红书图文",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "下载短视频": {
      "main": [
        [
          {
            "node": "设置短视频名称",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "获取短视频元数据": {
      "main": [
        [
          {
            "node": "下载短视频",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "设置本地文件夹名称": {
      "main": [
        [
          {
            "node": "执行命令创建文件夹",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "执行命令创建文件夹": {
      "main": [
        [
          {
            "node": "获取短视频元数据",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "标题格式化处理": {
      "main": [
        [
          {
            "node": "设置本地文件夹名称",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "设置短视频名称": {
      "main": [
        [
          {
            "node": "保存短视频到本地",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "结构化输出标题和正文": {
      "ai_outputParser": [
        [
          {
            "node": "小红书风格标题和文案润色",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "等待10分钟": {
      "main": [
        [
          {
            "node": "循环处理",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "获取飞书token2": {
      "main": [
        [
          {
            "node": "向群组发送已完成消息",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "检查小红书当前登陆状态": {
      "main": [
        [
          {
            "node": "登陆是否成功",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "定义Agent错误提示消息",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "定义Agent错误提示消息": {
      "main": [
        [
          {
            "node": "向群组发送错误消息",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "定义登陆状态失效提示消息": {
      "main": [
        [
          {
            "node": "向群组发送登陆失效消息",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "deepseek-v3  ": {
      "ai_languageModel": [
        [
          {
            "node": "结构化输出结果",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "gpt-4.1-mini  ": {
      "ai_languageModel": [
        [
          {
            "node": "小红书风格标题和文案润色",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "检查小红书登陆": {
      "main": [
        [
          {
            "node": "登陆是否成功1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "结构化输出登陆结果": {
      "ai_outputParser": [
        [
          {
            "node": "检查小红书登陆",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "gpt-4.1-mini1": {
      "ai_languageModel": [
        [
          {
            "node": "发布小红书图文1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "小红书MCP1": {
      "ai_tool": [
        [
          {
            "node": "发布小红书图文1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "登陆是否成功1": {
      "main": [
        [
          {
            "node": "发布小红书图文1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "账号登陆错误",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "gpt-4.1-mini2": {
      "ai_languageModel": [
        [
          {
            "node": "检查小红书登陆",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "小红书MCP2": {
      "ai_tool": [
        [
          {
            "node": "检查小红书登陆",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "定义小红书MCP端点": {
      "main": [
        [
          {
            "node": "获取飞书token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "结构化输出发布结果": {
      "ai_outputParser": [
        [
          {
            "node": "发布小红书图文",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "deepseek-v3   ": {
      "ai_languageModel": [
        [
          {
            "node": "结构化输出发布结果",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "发布是否成功": {
      "main": [
        [
          {
            "node": "更新记录 已发布",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "更新记录 发布出错",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "更新记录 发布出错": {
      "main": [
        [
          {
            "node": "向群组发送即时消息 ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "向群组发送即时消息 ": {
      "main": [
        [
          {
            "node": "等待10分钟",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "更新记录 已发布": {
      "main": [
        [
          {
            "node": "向群组发送即时消息",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "向群组发送即时消息": {
      "main": [
        [
          {
            "node": "等待10分钟",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "发布小红书图文": {
      "main": [
        [
          {
            "node": "发布是否成功",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "小红书MCP ": {
      "ai_tool": [
        [
          {
            "node": "发布小红书图文",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "gpt-4.1-mini ": {
      "ai_languageModel": [
        [
          {
            "node": "发布小红书图文",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4f0dfa91-c482-4ab8-b08e-b5b92e0931fe",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "830bfffc51ff88cd51b86a768f6a50a5b290896243e17b0bdf0f08551c38ba51"
  },
  "id": "yXsRB2bSqwMU0QPf",
  "tags": []
}