workflows/06_飞书+n8n搭建7x24小时AI短视频自动化运营系统/WorkFlow/【01_生成】AI短视频生产线工作流.json
{
  "name": "【01_生成】AI短视频生产线工作流",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.feishu.cn/open-apis/auth/v3/tenant_access_token/internal/",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"Content-Type\":\"application/json; charset=utf-8\"\n}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n    \"app_id\": \"cli_a8759c6a21500e\",\n    \"app_secret\": \"hLjKsc00B0lqkdjC06mIj6mb\"\n}",
        "options": {
          "timeout": 60000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1360,
        -576
      ],
      "id": "fae429a9-39c1-4ca8-a6cb-811c538ce392",
      "name": "获取飞书token",
      "notesInFlow": true,
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "maxTries": 5,
      "notes": "HTTP Request"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -608,
        -464
      ],
      "id": "f2a6451f-9cd9-4131-af82-e2d985544049",
      "name": "循环处理",
      "notesInFlow": true,
      "notes": "Loop Over Items"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://open.feishu.cn/open-apis/bitable/v1/apps/{{ $json.app_token }}/tables/{{ $json.table_id }}/records/search ",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "user_id_type",
              "value": "open_id"
            },
            {
              "name": "page_token"
            },
            {
              "name": "page_size",
              "value": "20"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('获取飞书token').item.json.tenant_access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"sort\": [\n    {\n      \"field_name\": \"id\",\n      \"desc\": false\n    }\n  ],\n  \"filter\": {\n    \"conjunction\": \"and\",\n    \"conditions\": [\n      {\n        \"field_name\": \"发布日期\",\n        \"operator\": \"is\",\n        \"value\": [\n          \"Tomorrow\"\n        ]\n      },\n      {\n        \"field_name\": \"当前状态\",\n        \"operator\": \"is\",\n        \"value\": [\n          \"草稿\"\n        ]\n      }\n    ]\n  },\n  \"automatic_fields\": false\n}",
        "options": {
          "timeout": 60000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1008,
        -576
      ],
      "id": "2ce587e1-0916-451e-83ef-261b705c488a",
      "name": "获取多维表格记录",
      "notesInFlow": true,
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "maxTries": 5,
      "notes": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c5d06deb-33dc-471e-8892-bbf2bb8c94f5",
              "name": "app_token",
              "value": "GGgVbo7jEarC8PsFNXFcpPQPnMe",
              "type": "string"
            },
            {
              "id": "1817ab91-0b11-40ed-b13e-2d8367d99638",
              "name": "table_id",
              "value": "tblO9cucSw4r39Ek",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1184,
        -576
      ],
      "id": "3f538fc9-8887-411b-b28f-1e3876c0fb29",
      "name": "指定多维表格",
      "notesInFlow": true,
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "notes": "Edit Fields"
    },
    {
      "parameters": {
        "content": "## 获取飞书多维表格记录\n- 获取状态为“草稿”且发布时间为明天的所有记录\n- 并将获取到的所有记录拆分进行后续的独立处理\n- 设置定时触发扫描数据表格",
        "height": 544,
        "width": 912,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1616,
        -784
      ],
      "typeVersion": 1,
      "id": "28c10b3f-8a98-4949-a69b-cb838e137f1d",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## 循环处理\n- 对获取的每条记录进行逻辑处理\n- 全部处理完成后发送即时消息提醒实时状态",
        "height": 544,
        "width": 672,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -688,
        -784
      ],
      "typeVersion": 1,
      "id": "1890fa35-3873-4520-a018-cd303c50a475",
      "name": "Sticky Note4"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1552,
        -576
      ],
      "id": "f39bd53f-9539-4fbb-a9ba-c824c6b6f8bb",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json['分支条件'] }}",
                    "rightValue": "=本地素材",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "06c6d19e-e2b2-4733-aa31-0184eb085567"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "A"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f9e96528-f529-4a2a-87d3-99786770d0b8",
                    "leftValue": "={{ $json['分支条件'] }}",
                    "rightValue": "素材网素材",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "B"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        1296,
        -576
      ],
      "id": "633064d0-294e-4bd5-9743-d60b9d1ddabd",
      "name": "条件分支处理",
      "notesInFlow": true,
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "notes": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b7e2bc2b-c5af-4302-adf4-4a9905a877c1",
              "name": "分支条件",
              "value": "={{\n  $('获取多维表格单条记录').item.json.data.items[0].fields[\"素材来源\"] === \"本地素材\" || $('获取多维表格单条记录').item.json.data.items[0].fields[\"背景音乐类型\"]  === '本地音乐' ? \"本地素材\" :\n  $('获取多维表格单条记录').item.json.data.items[0].fields[\"素材来源\"] === \"免费素材网\" && $('获取多维表格单条记录').item.json.data.items[0].fields[\"背景音乐类型\"]  === '随机音乐' ? \"素材网素材\" :\n\"素材网素材\"   // 其他情况\n}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1152,
        -576
      ],
      "id": "a94dc633-5f1e-4a02-b338-be693b0af184",
      "name": "分支决策",
      "notesInFlow": true,
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "notes": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=文案主题：{{ $('获取多维表格单条记录').item.json.data.items[0].fields[\"主题\"][0].text }}",
        "hasOutputParser": true,
        "needsFallback": true,
        "options": {
          "systemMessage": "=# 角色：资深内容创作专家\n\n## 背景：\n你是一位资深内容创作专家，擅长将文案主题内容转化为吸引眼球且具有高互动率的文案。请根据提供的内容，创作一篇符合以下要求的文案：\n\n## 规则：\n1. 语言年轻化、亲切自然，符合用户的表达习惯，带有轻松幽默感。\n2. 分段清晰，每个段落突出重点，便于阅读和理解。\n3. 结尾部分明确引导用户进行点赞、收藏和评论，提升互动率。\n4. 总字数控制在200-300字之间，内容精炼且信息完整，避免冗余，不要出现emoji图标。\n5. 根据主题提取3-5个英文核心关键词，用于在素材网站或图库中精准搜索相关图片素材。\n\n## 初始化\n请严格按照上述要求输出内容。",
          "maxIterations": 10,
          "returnIntermediateSteps": false,
          "passthroughBinaryImages": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        416,
        -640
      ],
      "id": "85aad739-8e34-40dd-9cfa-636704dcc8fd",
      "name": "视频文案内容创作",
      "notesInFlow": true,
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "notes": "AI Agent"
    },
    {
      "parameters": {
        "jsCode": "// 节点功能：因生成的脚本文案内容需要提供给短视频生成工具作为其字幕脚本使用，需按照要求进行格式化处理\n// Author:@南哥AGI研习社 (B站 or YouTube 搜索“南哥AGI研习社”)\n\n// 获取输入文本\nconst inputText = $('视频文案内容创作').first().json.output.Video_Content;\n\n// 使用正则表达式格式化文本函数，只保留需要的字符\nfunction formatText(text) {\n  \n  let cleanedText = text;\n  \n  // 1. 只保留中文、英文、数字、常用标点符号和空格。这样可以有效去除所有emoji（包括复合emoji）\n  cleanedText = cleanedText.replace(/[^\\u4e00-\\u9fff\\u3400-\\u4dbf\\u3000-\\u303f\\uff00-\\uffefa-zA-Z0-9\\s.,!?;:()（）！？；：、。，]/g, '');\n  \n  // 2. 去除换行符，替换为空格\n  cleanedText = cleanedText.replace(/\\n+/g, ' ');\n  \n  // 3. 去除tag标签（#开头的词汇）\n  cleanedText = cleanedText.replace(/#[^\\s#]+/g, '');\n  \n  // 4. 去除单双引号\n  cleanedText = cleanedText.replace(/['\"]/g, '');\n  \n  // 5. 清理多余空格并修剪首尾空格\n  cleanedText = cleanedText.replace(/\\s+/g, ' ').trim();\n  \n  return cleanedText;\n}\n\n// 处理文本\nconst formattedText = formatText(inputText);\n\n// 返回n8n格式的结果\nreturn [\n  {\n    json: {\n      formatted_text: formattedText,\n      character_count: formattedText.length\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        992,
        -576
      ],
      "id": "540ff790-3743-427f-95c9-ea56cfb47766",
      "name": "文案内容格式化",
      "notesInFlow": true,
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "notes": "Code in JavaScript"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://host.docker.internal:8080/api/v1/videos",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"video_subject\": \"{{ $json.video_subject }}\",\n    \"video_script\": \"{{ $json.video_script }}\",\n    \"video_terms\": \"{{ $json.video_terms }}\",\n    \"video_aspect\": \"{{ $json.video_aspect }}\",\n    \"video_concat_mode\": \"{{ $json.video_concat_mode }}\",\n    \"video_transition_mode\": \"{{ $json.video_transition_mode }}\",\n    \"video_clip_duration\": {{ $json.video_clip_duration }},\n    \"video_count\": {{ $json.video_count }},\n    \"video_source\": \"{{ $json.video_source }}\",\n    \"video_materials\":{{ $json.video_materials }},\n    \"video_language\": \"{{ $json.video_language }}\",\n    \"voice_name\": \"{{ $json.voice_name }}\",\n    \"voice_volume\": {{ $json.voice_volume }},\n    \"voice_rate\": {{ $json.voice_rate }},\n    \"bgm_type\": \"{{ $json.bgm_type }}\",\n    \"bgm_file\": \"{{ $json.bgm_file }}\",\n    \"bgm_volume\": {{ $json.bgm_volume }},\n    \"subtitle_enabled\": {{ $json.subtitle_enabled }},\n    \"subtitle_position\": \"{{ $json.subtitle_position }}\",\n    \"custom_position\": {{ $json.custom_position }},\n    \"font_name\": \"{{ $json.font_name }}\",\n    \"text_fore_color\": \"{{ $json.text_fore_color }}\",\n    \"text_background_color\": {{ $json.text_background_color }},\n    \"font_size\": {{ $json.font_size }},\n    \"stroke_color\": \"{{ $json.stroke_color }}\",\n    \"stroke_width\": {{ $json.stroke_width }},\n    \"n_threads\": {{ $json.n_threads }},\n    \"paragraph_number\": {{ $json.paragraph_number }}\n} ",
        "options": {
          "timeout": 60000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2896,
        -400
      ],
      "id": "aafbed4c-0f55-41a7-ac52-8560b1bec12e",
      "name": "生成短视频",
      "notesInFlow": true,
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "notes": "HTTP Request"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"video_subject\": {{ $('获取多维表格单条记录').item.json.data.items[0].fields[\"主题\"][0].text.toJsonString() }},\n  \"video_script\": {{ $('文案内容格式化').item.json.formatted_text.toJsonString() }},\n  \"video_terms\": {{ $('视频文案内容创作').item.json.output.Video_Keywords.toJsonString() }},\n  \"video_aspect\": {{ $json['宽高比'].toJsonString() }},\n  \"video_concat_mode\": {{ $json['合成模式'].toJsonString() }},\n  \"video_transition_mode\": {{ $json['转场模式'].toJsonString() }},\n  \"video_clip_duration\": 4,\n  \"video_count\": 1,\n  \"video_source\": {{ $json['素材来源'].toJsonString() }},\n  \"video_materials\": {{ $json['本地图片视频素材'].toJsonString() }},\n  \"video_language\": \"\",\n  \"voice_name\": {{ $json['配音音色'].toJsonString() }},\n  \"voice_volume\": 1.0,\n  \"voice_rate\": 1.2,\n  \"bgm_type\": {{ $json['背景音乐类型'].toJsonString() }},\n  \"bgm_file\": \"\",\n  \"bgm_volume\": 0.4,\n  \"subtitle_enabled\": true,\n  \"subtitle_position\": \"bottom\",\n  \"custom_position\": 70.0,\n  \"font_name\": \"MicrosoftYaHeiBold.ttc\",\n  \"text_fore_color\": \"#FFFFFF\",\n  \"text_background_color\": true,\n  \"font_size\": 60,\n  \"stroke_color\": \"#000000\",\n  \"stroke_width\": 1.5,\n  \"n_threads\": 2,\n  \"paragraph_number\": 1\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2624,
        -320
      ],
      "id": "1b8082b8-b7db-47a0-8b24-fef23e4aaa78",
      "name": "免费素材网接口参数固定",
      "notesInFlow": true,
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "notes": "Edit Fields"
    },
    {
      "parameters": {
        "url": "=http://host.docker.internal:8080/api/v1/tasks/{{ $json.data.task_id }}",
        "options": {
          "timeout": 60000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3296,
        -400
      ],
      "id": "873d8634-0a8a-438b-b868-7e53c044d5d3",
      "name": "查询视频制作进度",
      "notesInFlow": true,
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "notes": "HTTP Request"
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3104,
        -400
      ],
      "id": "41eaa852-6b5a-4615-94c9-0129b39a831c",
      "name": "等待1分钟",
      "webhookId": "7ccb0894-0027-4ed5-9384-b97f0ca4ceb9",
      "notesInFlow": true,
      "notes": "Wait"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f5d66584-990a-4d75-ae70-22e521de4e91",
              "leftValue": "={{ $json.data.progress }}",
              "rightValue": 100,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3472,
        -400
      ],
      "id": "b033c78f-2d14-45f0-bd4c-653e9f7872d2",
      "name": "视频制作是否完成",
      "notesInFlow": true,
      "notes": "If"
    },
    {
      "parameters": {
        "url": "={{ $json.data.videos[0] }}",
        "options": {
          "timeout": 60000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3680,
        -416
      ],
      "id": "3014ce0e-d5ae-4756-a505-0c183af4b32c",
      "name": "获取视频",
      "notesInFlow": true,
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "notes": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e4827c98-baac-464c-8a80-f5edb8ea907d",
              "name": "素材来源",
              "value": "={{\n  $('获取多维表格单条记录').item.json.data.items[0].fields[\"素材来源\"] === \"本地素材\" ? \"local\" :\n  $('获取多维表格单条记录').item.json.data.items[0].fields[\"素材来源\"] === \"免费素材网\" ? \"pexels\" : \"pexels\"\n}}",
              "type": "string"
            },
            {
              "id": "d60da1a1-571e-4464-9a23-04802d37910c",
              "name": "本地图片视频素材",
              "value": "null",
              "type": "string"
            },
            {
              "id": "e2db0968-7166-4b87-8e4d-6caf5f9fed4c",
              "name": "背景音乐类型",
              "value": "={{\n  $('获取多维表格单条记录').item.json.data.items[0].fields[\"背景音乐类型\"] === \"本地音乐\" ? \"custom\" :\n  $('获取多维表格单条记录').item.json.data.items[0].fields[\"背景音乐类型\"] === \"随机音乐\" ? \"random\" : \"random\"\n}}",
              "type": "string"
            },
            {
              "id": "a33a38ff-7cb6-4396-ad65-455433feadc6",
              "name": "合成模式",
              "value": "={{\n  $('获取多维表格单条记录').item.json.data.items[0].fields[\"合成模式\"] === \"随机拼接\" ? \"random\" :\n  $('获取多维表格单条记录').item.json.data.items[0].fields[\"合成模式\"] === \"顺序拼接\" ? \"sequential\" : \"random\"\n}}",
              "type": "string"
            },
            {
              "id": "0db02208-154f-4c23-9eee-9b2d6fed5cad",
              "name": "转场模式",
              "value": "={{\n  $('获取多维表格单条记录').item.json.data.items[0].fields[\"转场模式\"] === \"无转场\" ? \"None\" :\n  $('获取多维表格单条记录').item.json.data.items[0].fields[\"转场模式\"] === \"随机转场\" ? \"Shuffle\" :\n  $('获取多维表格单条记录').item.json.data.items[0].fields[\"转场模式\"] === \"渐入\" ? \"FadeIn\" :\n  $('获取多维表格单条记录').item.json.data.items[0].fields[\"转场模式\"] === \"渐出\" ? \"FadeOut\" :\n  $('获取多维表格单条记录').item.json.data.items[0].fields[\"转场模式\"] === \"滑动入\" ? \"SlideIn\" :\n  $('获取多维表格单条记录').item.json.data.items[0].fields[\"转场模式\"] === \"滑动出\" ? \"SlideOut\" : \"Shuffle\"\n}}",
              "type": "string"
            },
            {
              "id": "bcb825bc-0f54-43b0-8282-b1a830b4900a",
              "name": "宽高比",
              "value": "={{\n  $('获取多维表格单条记录').item.json.data.items[0].fields[\"宽高比\"] === \"9:16(竖屏)\" ? \"9:16\" :\n  $('获取多维表格单条记录').item.json.data.items[0].fields[\"宽高比\"] === \"16:9(横屏)\" ? \"16:9\" : \"9:16\"\n}}",
              "type": "string"
            },
            {
              "id": "5c866334-df2f-4e92-82eb-c51a9b6e1bf3",
              "name": "配音音色",
              "value": "={{\n  $('获取多维表格单条记录').item.json.data.items[0].fields[\"配音音色\"] === \"diana(女性)\" ? \"siliconflow:FunAudioLLM/CosyVoice2-0.5B:diana-Female\" : \"siliconflow:FunAudioLLM/CosyVoice2-0.5B:diana-Female\"\n}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1536,
        -320
      ],
      "id": "41c03889-61be-43a1-8446-e89ab1de5395",
      "name": "固定参数",
      "notesInFlow": true,
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "notes": "Edit Fields"
    },
    {
      "parameters": {
        "content": "## AI文案创作\n- 根据数据id来获取单条记录进行处理\n- 把当前记录的当前状态修改为“生成中”\n- AI根据记录中的主题进行内容生成",
        "height": 544,
        "width": 928,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        -784
      ],
      "typeVersion": 1,
      "id": "9e1911d4-2887-42b0-874f-5cac18d9fb5f",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## 判断使用本地素材还是素材网\n- 对AI生成的文案内容进行格式化处理，方便短视频生成工具使用\n- 判断若使用本地素材则走A分支\n- 判断若使用素材网素材则走B分支",
        "height": 544,
        "width": 464,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        960,
        -784
      ],
      "typeVersion": 1,
      "id": "57990307-7744-48f1-9a93-4fe8511a3249",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## B分支处理逻辑:使用免费素材网\n- 使用素材网和随机音乐\n- 定义最终传递给接口的参数",
        "height": 288,
        "width": 1328,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1456,
        -448
      ],
      "typeVersion": 1,
      "id": "11753289-2530-42da-9252-df7730b0b087",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "## 短视频生成\n- 使用MoneyPrinterTrubo免费开源工具\n- 定时查询视频制作状态\n- 可替换其他工具，调整对应逻辑即可",
        "height": 416,
        "width": 992,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2832,
        -576
      ],
      "typeVersion": 1,
      "id": "91dcd3e8-8548-4a04-9164-09e02c09a26e",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "## 将生成的短视频上传到表格中并进行即时群消息提醒\n- 对生成的短视频进行分片上传至飞书\n- 将生成的文案、短视频、状态等更新多维表格\n- 发送群消息提醒",
        "height": 720,
        "width": 1776,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3856,
        -880
      ],
      "typeVersion": 1,
      "id": "b1961481-86ce-4b1b-9bcf-e44d29e60c2f",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "## A分支处理逻辑:使用本地素材\n- 从表格记录中获取上传的本地素材(图片、音频、视频)\n- 将获取到的本地素材保存到本地指定文件夹(为了给短视频生成工具使用)\n- 定义最终传递给接口的参数",
        "height": 416,
        "width": 1328,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1456,
        -880
      ],
      "typeVersion": 1,
      "id": "eb3da383-7b5d-4ab9-bddc-be30ed219512",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        4640,
        -576
      ],
      "id": "6921e83e-228f-453e-973c-7afacfe06ca1",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "jsCode": "// 节点功能：对获取到的视频进行分片处理\n// Author:@南哥AGI研习社 (B站 or YouTube 搜索“南哥AGI研习社”)\n\nconst CHUNK_SIZE = 4 * 1024 * 1024; // 4MB in bytes\n\n// 获取输入的视频二进制数据\nconst binaryData = items[0].binary.data;\nconst buffer = await this.helpers.getBinaryDataBuffer(0, 'data');\n\n// 计算需要分成多少块\nconst totalChunks = Math.ceil(buffer.length / CHUNK_SIZE);\nconst chunks = [];\n\n// 分割二进制数据\nfor (let i = 0; i < totalChunks; i++) {\n  const start = i * CHUNK_SIZE;\n  const end = Math.min(start + CHUNK_SIZE, buffer.length);\n  const chunkBuffer = buffer.slice(start, end);\n  \n  // 为每个块创建新的二进制数据对象\n  chunks.push({\n    json: {\n      chunkIndex: i,\n      totalChunks: totalChunks,\n      chunkSize: chunkBuffer.length,\n      originalFileName: binaryData.fileName || 'video'\n    },\n    binary: {\n      data: await this.helpers.prepareBinaryData(\n        chunkBuffer,\n        `${binaryData.fileName || 'video'}_chunk_${i}.bin`\n      )\n    }\n  });\n}\n\nreturn chunks;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4448,
        -576
      ],
      "id": "2994ff3c-a6de-465b-aab4-5f7a6cb1b9db",
      "name": "视频分片",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "notesInFlow": true,
      "notes": "Code in JavaScript"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://open.feishu.cn/open-apis/drive/v1/medias/upload_prepare",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('获取飞书token').item.json.tenant_access_token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json; charset=utf-8"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"file_name\": \"test.mp4\",\n  \"parent_type\": \"bitable_file\",\n  \"parent_node\": \"{{ $('指定多维表格').item.json.app_token }}\",\n  \"size\": {{ $json.size_in_bytes }}\n} ",
        "options": {
          "timeout": 60000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4096,
        -576
      ],
      "id": "daab3480-f934-4c64-9a9a-875262cb2b0c",
      "name": "分片上传素材-预上传",
      "notesInFlow": true,
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "notes": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "// 节点功能：把某个上游节点的 json 和 binary 重新挂到当前输出上\n// Author:@南哥AGI研习社 (B站 or YouTube 搜索“南哥AGI研习社”)\n\nreturn {\n  json: $('获取视频文件大小').item.json,\n  binary: $('获取视频文件大小').item.binary,\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4272,
        -576
      ],
      "id": "63e2c2f9-c4c0-47e2-bdec-3334e920da11",
      "name": "重新挂载二进制文件",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "notesInFlow": true,
      "notes": "Code in JavaScript"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://open.feishu.cn/open-apis/drive/v1/medias/upload_finish",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('获取飞书token').item.json.tenant_access_token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json; charset=utf-8"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"upload_id\": \"{{ $('分片上传素材-预上传').item.json.data.upload_id }}\",\n  \"block_num\": {{ $('分片上传素材-预上传').item.json.data.block_num }}\n} ",
        "options": {
          "timeout": 60000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5040,
        -768
      ],
      "id": "389cacb2-4a9f-4c0b-aa70-07b607afb5f5",
      "name": "分片上传素材-完成上传",
      "notesInFlow": true,
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "notes": "HTTP Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://open.feishu.cn/open-apis/drive/v1/medias/upload_part",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('获取飞书token').item.json.tenant_access_token }}"
            },
            {
              "name": "Content-Type",
              "value": "multipart/form-data; boundary=---7MA4YWxkTrZu0gW"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "upload_id",
              "value": "={{ $('分片上传素材-预上传').item.json.data.upload_id }}"
            },
            {
              "name": "seq",
              "value": "={{ $json.chunkIndex }}"
            },
            {
              "name": "=size",
              "value": "={{ $json.chunkSize }}"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "=data"
            }
          ]
        },
        "options": {
          "timeout": 60000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4880,
        -400
      ],
      "id": "b54ff3a7-f970-40bc-a642-fd8c458458b9",
      "name": "分片上传素材-上传分片",
      "notesInFlow": true,
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "notes": "HTTP Request"
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        5232,
        -400
      ],
      "id": "515c9e64-fefa-4c84-92ef-25142849a335",
      "name": "等待3秒",
      "webhookId": "023b8328-1a08-4a02-8c8b-932233743d8d",
      "notesInFlow": true,
      "notes": "Wait"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        4864,
        -768
      ],
      "id": "f56f8573-8493-49f8-a2de-8199e5fc9065",
      "name": "合并数据统一处理3",
      "notesInFlow": true,
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "notes": "Aggregate"
    },
    {
      "parameters": {
        "fileSelector": "./.n8n-files/videos/test.mp4",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        2896,
        -784
      ],
      "id": "6c131cc8-d91d-420b-94e7-580e42d5f418",
      "name": "读取本地视频",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "content": "## 模拟短视频生成(测试使用)\n- 读取本地测试视频进行后续节点测试",
        "height": 272,
        "width": 992,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2832,
        -880
      ],
      "typeVersion": 1,
      "id": "cc825677-d9aa-403f-a0c0-76cd9ff0129f",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {
          "frequencyPenalty": 0,
          "responseFormat": "json_object",
          "temperature": 0.7,
          "timeout": 60000,
          "maxRetries": 2,
          "topP": 1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        368,
        -400
      ],
      "id": "63728e4f-7d57-41a7-beda-7b48038eeec5",
      "name": "gpt-4o-mini",
      "notesInFlow": true,
      "credentials": {
        "openAiApi": {
          "id": "KcHzWF39O8ZtiGQr",
          "name": "OpenAi account"
        }
      },
      "notes": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "deepseek-v3",
          "mode": "list",
          "cachedResultName": "deepseek-v3"
        },
        "options": {
          "frequencyPenalty": 0,
          "responseFormat": "json_object",
          "temperature": 0.7,
          "timeout": 60000,
          "maxRetries": 2,
          "topP": 1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        512,
        -400
      ],
      "id": "43d70003-2cd1-4b76-b82c-6c6217eddf14",
      "name": "deepseek-v3",
      "notesInFlow": true,
      "credentials": {
        "openAiApi": {
          "id": "KcHzWF39O8ZtiGQr",
          "name": "OpenAi account"
        }
      },
      "notes": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"Video_Content\": {\n\t\t\t\"type\": \"string\",\n            \"description\":\"文案内容\"\n\t\t},\n\t\t\"Video_Keywords\": {\n\t\t\t\"type\": \"string\",\n\t\t\t\"description\":\"视频关键词\"\n\t\t}\n\t},\n  \"required\": [\"Xhs_Content\", \"Video_Keywords\"]\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        672,
        -400
      ],
      "id": "fe47fe5e-d853-460c-a3df-f3bd57cb0bae",
      "name": "强制格式化输出",
      "notesInFlow": true,
      "notes": "Structured Output Parser"
    },
    {
      "parameters": {
        "jsCode": "// 节点功能：获取当前传递过来视频二进制文件的大小和重新挂载视频文件传递给下一个节点\n// Author:@南哥AGI研习社 (B站 or YouTube 搜索“南哥AGI研习社”)\n\n// 读取二进制 buffer，返回字节数\nconst buffer = await this.helpers.getBinaryDataBuffer(0, 'data');\nconst sizeInBytes = buffer.length;\n\n// 同时把原来的 binary.data 一起传出去\nreturn [\n  {\n    json: {\n      size_in_bytes: sizeInBytes,\n    },\n    binary: {\n      // 直接复用上一个节点的 binary.data\n      data: $input.first().binary.data,\n    },\n  },\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3920,
        -576
      ],
      "id": "ea7c0d19-f464-469d-8349-44d1b659f0c8",
      "name": "获取视频文件大小",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "notesInFlow": true,
      "notes": "Code in JavaScript"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.feishu.cn/open-apis/im/v1/messages",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "receive_id_type",
              "value": "chat_id"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('获取飞书token').item.json.tenant_access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"receive_id\":\"oc_9619619c722d54d1b6589f7405855d59\",\n    \"msg_type\": \"post\",\n    \"content\":\"{\\\"zh_cn\\\":{\\\"title\\\":\\\"AI短视频创作进度\\\",\\\"content\\\":[[{\\\"tag\\\":\\\"at\\\",\\\"user_id\\\":\\\"\\\",\\\"user_name\\\":\\\"所有人\\\"}],[{\\\"tag\\\":\\\"md\\\",\\\"text\\\":\\\"**视频主题**:{{ $('获取多维表格单条记录').item.json.data.items[0].fields['主题'][0].text }}\\\\\\n **创建时间**:{{ new Date($('获取多维表格单条记录').item.json.data.items[0].fields['创建时间'] ).toDateTime().format('yyyy-LL-dd HH:mm:ss') }}\\\\\\n **当前状态**:{{ $json.data.record.fields['当前状态'] }}\\\"}],[{\\\"tag\\\":\\\"md\\\",\\\"text\\\":\\\"**AI生成的视频脚本**:\\\\\\n {{ $('文案内容格式化').item.json.formatted_text }}\\\"},{\\\"tag\\\":\\\"a\\\",\\\"href\\\":\\\"https://mcn33lfbwjgi.feishu.cn/base/GGgVbo7jEarC8PsFNXFcpPQPnMe?table=tblO9cucSw4r39Ek&view=vewI3sjaI0\\\",\\\"text\\\":\\\"点击查看详情\\\"}]]}}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5472,
        -320
      ],
      "id": "4a323f2c-a492-4ebb-848c-aa6bc3c55111",
      "name": "向群组发送即时消息",
      "notesInFlow": true,
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "notes": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "88f93589-8d95-43f8-9534-d9cbfc59c4ba",
              "name": "本地素材",
              "value": "={{ $('获取多维表格单条记录').item.json.data.items[0].fields[\"本地素材\"] }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1520,
        -688
      ],
      "id": "917e70fc-3b41-4f95-ad5b-9077e15034fd",
      "name": "获取本地素材",
      "notesInFlow": true,
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "notes": "Edit Fields"
    },
    {
      "parameters": {
        "fieldToSplitOut": "[\"本地素材\"]",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1680,
        -688
      ],
      "id": "fbb0f643-7ac4-4efa-9e46-d9ba406d6bf0",
      "name": "拆分数据单独处理",
      "notesInFlow": true,
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "notes": "Split Out"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1872,
        -688
      ],
      "id": "e699be4b-35a4-47a1-b9bf-46b6e583ac06",
      "name": "循环保存素材",
      "notesInFlow": true,
      "notes": "Loop Over Items"
    },
    {
      "parameters": {
        "url": "=https://open.feishu.cn/open-apis/drive/v1/medias/{{ $json.file_token }}/download",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('获取飞书token').item.json.tenant_access_token }}"
            }
          ]
        },
        "options": {
          "timeout": 60000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2080,
        -672
      ],
      "id": "7e6791d8-372a-434c-b90c-8e87a9cc9ccd",
      "name": "获取素材二进制文件",
      "notesInFlow": true,
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "notes": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=./.n8n-files/mpt/storage/local_files/{{ $json.file_token }}_{{ $json.name }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        2272,
        -672
      ],
      "id": "0bbc76a7-4319-484b-9850-978e67f4e223",
      "name": "保存素材到本地",
      "notesInFlow": true,
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "notes": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2448,
        -672
      ],
      "id": "65acb84a-a2bb-4031-bb79-db844ff3152d",
      "name": "等待2秒",
      "webhookId": "1b4ef572-db69-4abd-92a0-deb899721ab8",
      "notesInFlow": true,
      "notes": "Wait"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2080,
        -848
      ],
      "id": "ba7d19cb-401b-4fa4-a0b1-e4de1a9e38ba",
      "name": "合并数据统一处理",
      "notesInFlow": true,
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "notes": "Aggregate"
    },
    {
      "parameters": {
        "jsCode": "// 节点功能：对获取到的素材(图片、视频、音频)文件进行拼接\n// Author:@南哥AGI研习社 (B站 or YouTube 搜索“南哥AGI研习社”)\n\nconst files = $input.first().json.data;\n\n// 按类型分组\nconst imageLike = files.filter(i => i.type === 'image/jpeg' || i.type === 'video/mp4');\nconst audioLike = files.filter(i => i.type === 'audio/mpeg');\n\n// 1) 当类型为image/jpeg 和 video/mp4 按照MoneyPrinterTrubo的格式要求拼接数组，再转成一行 JSON 字符串输出\nconst imagesArray = imageLike.map(i => {\n  const fileTokenName = `${i.file_token}_${i.name}`;\n  return {\n    provider: 'local',\n    url: `/MoneyPrinterTurbo/storage/local_files/${fileTokenName}`,\n    duration: 0,\n  };\n});\nconst images = JSON.stringify(imagesArray); \n\n// 2) 当类型为audio/mpeg 按照MoneyPrinterTrubo的格式要求封装为字符串输出\nlet audio = '';\nif (audioLike.length > 0) {\n  const i = audioLike[0]; // 只取第一条\n  const fileTokenName = `${i.file_token}_${i.name}`;\n  audio = `/MoneyPrinterTurbo/storage/local_files/${fileTokenName}`;\n}\n\n// 只输出一条 item，把两种结果都放进同一个对象里\nreturn [\n  {\n    json: {\n      images, \n      audio, \n    },\n  },\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2272,
        -848
      ],
      "id": "89a6dc1c-9a7e-4439-a5f1-ef8992283da8",
      "name": "本地素材数据格式化",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "notesInFlow": true,
      "notes": "Code in JavaScript"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e4827c98-baac-464c-8a80-f5edb8ea907d",
              "name": "素材来源",
              "value": "={{\n  $('获取多维表格单条记录').item.json.data.items[0].fields[\"素材来源\"] === \"本地素材\" ? \"local\" :\n  $('获取多维表格单条记录').item.json.data.items[0].fields[\"素材来源\"] === \"免费素材网\" ? \"pexels\" :\n  \"pexels\"\n}}",
              "type": "string"
            },
            {
              "id": "4ec47e59-73d6-489d-93fb-f16704a34d8a",
              "name": "本地图片视频素材",
              "value": "={{ $json.images !== \"[]\" ? $json.images : \"null\" }}",
              "type": "string"
            },
            {
              "id": "e2db0968-7166-4b87-8e4d-6caf5f9fed4c",
              "name": "背景音乐类型",
              "value": "={{\n  $('获取多维表格单条记录').item.json.data.items[0].fields[\"背景音乐类型\"] === \"本地音乐\" ? \"custom\" :\n  $('获取多维表格单条记录').item.json.data.items[0].fields[\"背景音乐类型\"] === \"随机音乐\" ? \"random\" :\n  \"random\"\n}}",
              "type": "string"
            },
            {
              "id": "5993e652-9dec-445c-9581-f45b4684e8d3",
              "name": "本地背景音乐素材",
              "value": "={{ $ifEmpty($json.audio, \"\") }}",
              "type": "string"
            },
            {
              "id": "a33a38ff-7cb6-4396-ad65-455433feadc6",
              "name": "合成模式",
              "value": "={{\n  $('获取多维表格单条记录').item.json.data.items[0].fields[\"合成模式\"] === \"随机拼接\" ? \"random\" :\n  $('获取多维表格单条记录').item.json.data.items[0].fields[\"合成模式\"] === \"顺序拼接\" ? \"sequential\" :\n  \"random\"\n}}",
              "type": "string"
            },
            {
              "id": "0db02208-154f-4c23-9eee-9b2d6fed5cad",
              "name": "转场模式",
              "value": "={{\n  $('获取多维表格单条记录').item.json.data.items[0].fields[\"转场模式\"] === \"无转场\" ? \"None\" :\n  $('获取多维表格单条记录').item.json.data.items[0].fields[\"转场模式\"] === \"随机转场\" ? \"Shuffle\" :\n  $('获取多维表格单条记录').item.json.data.items[0].fields[\"转场模式\"] === \"渐入\" ? \"FadeIn\" :\n  $('获取多维表格单条记录').item.json.data.items[0].fields[\"转场模式\"] === \"渐出\" ? \"FadeOut\" :\n  $('获取多维表格单条记录').item.json.data.items[0].fields[\"转场模式\"] === \"滑动入\" ? \"SlideIn\" :\n  $('获取多维表格单条记录').item.json.data.items[0].fields[\"转场模式\"] === \"滑动出\" ? \"SlideOut\" :\n  \"Shuffle\"\n}}",
              "type": "string"
            },
            {
              "id": "99a32e96-673e-45b2-9fee-a135ecc9a773",
              "name": "宽高比",
              "value": "={{   \n  $('获取多维表格单条记录').item.json.data.items[0].fields[\"宽高比\"] === \"9:16(竖屏)\" ? \"9:16\" :   \n  $('获取多维表格单条记录').item.json.data.items[0].fields[\"宽高比\"] === \"16:9(横屏)\" ? \"16:9\" :   \"9:16\" \n}}",
              "type": "string"
            },
            {
              "id": "5c866334-df2f-4e92-82eb-c51a9b6e1bf3",
              "name": "配音音色",
              "value": "={{\n  $('获取多维表格单条记录').item.json.data.items[0].fields[\"配音音色\"] === \"diana(女性)\" ? \"siliconflow:FunAudioLLM/CosyVoice2-0.5B:diana-Female\" :\n  \"siliconflow:FunAudioLLM/CosyVoice2-0.5B:diana-Female\"\n}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2448,
        -848
      ],
      "id": "b9ba0bbb-49c2-4c22-99e2-b8381fe16291",
      "name": "固定本地素材",
      "notesInFlow": true,
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "notes": "Edit Fields"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"video_subject\": {{ $('获取多维表格单条记录').item.json.data.items[0].fields[\"主题\"][0].text.toJsonString() }},\n  \"video_script\": {{ $('文案内容格式化').item.json.formatted_text.toJsonString() }},\n  \"video_terms\": {{ $('视频文案内容创作').item.json.output.Video_Keywords.toJsonString() }},\n  \"video_aspect\": {{ $json['宽高比'].toJsonString() }},\n  \"video_concat_mode\": {{ $json['合成模式'].toJsonString() }},\n  \"video_transition_mode\": {{ $json['转场模式'].toJsonString() }},\n  \"video_clip_duration\": 4,\n  \"video_count\": 1,\n  \"video_source\": {{ $json['素材来源'].toJsonString() }},\n  \"video_materials\": {{ $json['本地图片视频素材'].toJsonString() }},\n  \"video_language\": \"\",\n  \"voice_name\": {{ $json['配音音色'].toJsonString() }},\n  \"voice_volume\": 1.0,\n  \"voice_rate\": 1.2,\n  \"bgm_type\": {{ $json['背景音乐类型'].toJsonString() }},\n  \"bgm_file\": {{ $json['本地背景音乐素材'].toJsonString() }},\n  \"bgm_volume\": 0.4,\n  \"subtitle_enabled\": true,\n  \"subtitle_position\": \"bottom\",\n  \"custom_position\": 70.0,\n  \"font_name\": \"MicrosoftYaHeiBold.ttc\",\n  \"text_fore_color\": \"#FFFFFF\",\n  \"text_background_color\": true,\n  \"font_size\": 60,\n  \"stroke_color\": \"#000000\",\n  \"stroke_width\": 1.5,\n  \"n_threads\": 2,\n  \"paragraph_number\": 1\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2624,
        -848
      ],
      "id": "d32e37da-81e0-44e5-85cf-16fdf1c0e66e",
      "name": "本地素材接口参数固定",
      "notesInFlow": true,
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "notes": "Edit Fields"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1552,
        -400
      ],
      "id": "da671321-3659-4d56-8141-4f7e8bfb0621",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -416,
        -656
      ],
      "id": "ce9f3b6e-5359-44b3-b1f4-13193c0f2884",
      "name": "合并最终数据统一处理",
      "notesInFlow": true,
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "notes": "Aggregate"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.feishu.cn/open-apis/im/v1/messages",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "receive_id_type",
              "value": "chat_id"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('获取飞书token').item.json.tenant_access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"receive_id\":\"oc_9619619c722d54d1b6589f7405855d59\",\n    \"msg_type\": \"post\",\n    \"content\":\"{\\\"zh_cn\\\":{\\\"title\\\":\\\"AI短视频创作进度\\\",\\\"content\\\":[[{\\\"tag\\\":\\\"at\\\",\\\"user_id\\\":\\\"\\\",\\\"user_name\\\":\\\"所有人\\\"}],[{\\\"tag\\\":\\\"md\\\",\\\"text\\\":\\\"**今天的视频创作已全部完成** \\\"}],[{\\\"tag\\\":\\\"a\\\",\\\"href\\\":\\\"https://mcn33lfbwjgi.feishu.cn/base/GGgVbo7jEarC8PsFNXFcpPQPnMe?table=tblO9cucSw4r39Ek&view=vewI3sjaI0\\\",\\\"text\\\":\\\"点击查看详情\\\"}]]}}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -208,
        -656
      ],
      "id": "e12efd96-4d66-45b1-af56-3e727389c46f",
      "name": "向群组发送已完成消息",
      "notesInFlow": true,
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "notes": "HTTP Request"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://open.feishu.cn/open-apis/bitable/v1/apps/{{ $('指定多维表格').item.json.app_token }}/tables/{{ $('指定多维表格').item.json.table_id }}/records/{{ $('循环处理').item.json.record_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('获取飞书token').item.json.tenant_access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"fields\": {\n    \"脚本文案\": {{ $('视频文案内容创作').item.json.output.Video_Content.toJsonString() }},\n    \"文案关键词\": {{ $('视频文案内容创作').item.json.output.Video_Keywords.toJsonString() }},\n    \"当前状态\": \"等待确认\",\n    \"短视频\": [\n        {\n            \"file_token\": {{ $json.data.file_token.toJsonString() }}\n        }\n    ]\n  }\n} ",
        "options": {
          "timeout": 60000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5216,
        -768
      ],
      "id": "b5c85a7d-b6fe-47be-91d9-0fc59950b29f",
      "name": "更新记录 等待确认",
      "notesInFlow": true,
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "notes": "HTTP Request"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://open.feishu.cn/open-apis/bitable/v1/apps/{{ $('指定多维表格').item.json.app_token }}/tables/{{ $('指定多维表格').item.json.table_id }}/records/{{ $json.data.items[0].record_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('获取飞书token').item.json.tenant_access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"fields\": {\n    \"当前状态\": \"生成中\"\n  }\n} ",
        "options": {
          "timeout": 60000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        224,
        -528
      ],
      "id": "cd857819-7704-4df0-b0d6-339e80aa2402",
      "name": "更新记录 生成中",
      "notesInFlow": true,
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "notes": "HTTP Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://open.feishu.cn/open-apis/bitable/v1/apps/{{ $('指定多维表格').item.json.app_token }}/tables/{{ $('指定多维表格').item.json.table_id }}/records/search ",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "user_id_type",
              "value": "open_id"
            },
            {
              "name": "page_token"
            },
            {
              "name": "page_size",
              "value": "20"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('获取飞书token').item.json.tenant_access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"sort\": [\n    {\n      \"field_name\": \"id\",\n      \"desc\": false\n    }\n  ],\n  \"filter\": {\n    \"conjunction\": \"and\",\n    \"conditions\": [\n      {\n        \"field_name\": \"id\",\n        \"operator\": \"is\",\n        \"value\": [\n          {{ $json.id }}\n        ]\n      }\n    ]\n  },\n  \"automatic_fields\": false\n}",
        "options": {
          "timeout": 60000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        48,
        -528
      ],
      "id": "abfbd2a5-3959-4c04-b755-970f8ba7f529",
      "name": "获取多维表格单条记录",
      "notesInFlow": true,
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "maxTries": 5,
      "notes": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst list = items[0].json.data.items;\n\nreturn list.map(row => {\n  return {\n    json: {\n      id: row.fields.id,\n      record_id: row.record_id,\n    },\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -832,
        -576
      ],
      "id": "240da2b0-55bb-4171-87cf-e3d85c1791b3",
      "name": "拆分和过滤数据",
      "notesInFlow": true,
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "notes": "Code in JavaScript"
    }
  ],
  "pinData": {},
  "connections": {
    "获取飞书token": {
      "main": [
        [
          {
            "node": "指定多维表格",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "循环处理": {
      "main": [
        [
          {
            "node": "合并最终数据统一处理",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "获取多维表格单条记录",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "获取多维表格记录": {
      "main": [
        [
          {
            "node": "拆分和过滤数据",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "指定多维表格": {
      "main": [
        [
          {
            "node": "获取多维表格记录",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "获取飞书token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "条件分支处理": {
      "main": [
        [
          {
            "node": "获取本地素材",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "固定参数",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "分支决策": {
      "main": [
        [
          {
            "node": "条件分支处理",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "视频文案内容创作": {
      "main": [
        [
          {
            "node": "文案内容格式化",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "文案内容格式化": {
      "main": [
        [
          {
            "node": "分支决策",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "生成短视频": {
      "main": [
        [
          {
            "node": "等待1分钟",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "免费素材网接口参数固定": {
      "main": [
        [
          {
            "node": "生成短视频",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "查询视频制作进度": {
      "main": [
        [
          {
            "node": "视频制作是否完成",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "等待1分钟": {
      "main": [
        [
          {
            "node": "查询视频制作进度",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "视频制作是否完成": {
      "main": [
        [
          {
            "node": "获取视频",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "等待1分钟",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "固定参数": {
      "main": [
        [
          {
            "node": "免费素材网接口参数固定",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "合并数据统一处理3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "分片上传素材-上传分片",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "视频分片": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "分片上传素材-预上传": {
      "main": [
        [
          {
            "node": "重新挂载二进制文件",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "重新挂载二进制文件": {
      "main": [
        [
          {
            "node": "视频分片",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "分片上传素材-完成上传": {
      "main": [
        [
          {
            "node": "更新记录 等待确认",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "分片上传素材-上传分片": {
      "main": [
        [
          {
            "node": "等待3秒",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "等待3秒": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "合并数据统一处理3": {
      "main": [
        [
          {
            "node": "分片上传素材-完成上传",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "读取本地视频": {
      "main": [
        []
      ]
    },
    "gpt-4o-mini": {
      "ai_languageModel": [
        [
          {
            "node": "视频文案内容创作",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "deepseek-v3": {
      "ai_languageModel": [
        [
          {
            "node": "视频文案内容创作",
            "type": "ai_languageModel",
            "index": 1
          },
          {
            "node": "强制格式化输出",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "强制格式化输出": {
      "ai_outputParser": [
        [
          {
            "node": "视频文案内容创作",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "获取视频文件大小": {
      "main": [
        [
          {
            "node": "分片上传素材-预上传",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "向群组发送即时消息": {
      "main": [
        [
          {
            "node": "循环处理",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "获取本地素材": {
      "main": [
        [
          {
            "node": "拆分数据单独处理",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "拆分数据单独处理": {
      "main": [
        [
          {
            "node": "循环保存素材",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "循环保存素材": {
      "main": [
        [
          {
            "node": "合并数据统一处理",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "获取素材二进制文件",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "获取素材二进制文件": {
      "main": [
        [
          {
            "node": "保存素材到本地",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "保存素材到本地": {
      "main": [
        [
          {
            "node": "等待2秒",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "等待2秒": {
      "main": [
        [
          {
            "node": "循环保存素材",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "合并数据统一处理": {
      "main": [
        [
          {
            "node": "本地素材数据格式化",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "本地素材数据格式化": {
      "main": [
        [
          {
            "node": "固定本地素材",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "固定本地素材": {
      "main": [
        [
          {
            "node": "本地素材接口参数固定",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "本地素材接口参数固定": {
      "main": [
        [
          {
            "node": "生成短视频",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        []
      ]
    },
    "合并最终数据统一处理": {
      "main": [
        [
          {
            "node": "向群组发送已完成消息",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "更新记录 等待确认": {
      "main": [
        [
          {
            "node": "向群组发送即时消息",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "更新记录 生成中": {
      "main": [
        [
          {
            "node": "视频文案内容创作",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "获取多维表格单条记录": {
      "main": [
        [
          {
            "node": "更新记录 生成中",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "拆分和过滤数据": {
      "main": [
        [
          {
            "node": "循环处理",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "获取视频": {
      "main": [
        [
          {
            "node": "获取视频文件大小",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "LtVXki85WsuuHfe4"
  },
  "versionId": "b47a66d9-e837-46c7-83a7-40dd8be54a85",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "830bfffc51ff88cd51b86a768f6a50a5b290896243e17b0bdf0f08551c38ba51"
  },
  "id": "MyQqWzWniDOaMKCj",
  "tags": [
    {
      "updatedAt": "2025-11-28T14:56:45.999Z",
      "createdAt": "2025-11-28T14:56:45.999Z",
      "id": "1qJHbDUp6uEaNK6C",
      "name": "短视频"
    },
    {
      "updatedAt": "2025-10-30T12:47:20.269Z",
      "createdAt": "2025-10-30T12:47:20.269Z",
      "id": "f21vDmcMsvedJbTO",
      "name": "飞书"
    },
    {
      "updatedAt": "2025-10-30T12:47:07.824Z",
      "createdAt": "2025-10-30T12:47:07.824Z",
      "id": "v4AgHa1VDiat8yLA",
      "name": "AI"
    }
  ]
}