workflows/06_飞书+n8n搭建7x24小时AI短视频自动化运营系统/WorkFlow/【02_生成_主工作流】AI短视频生产线工作流.json
{
  "name": "【02_生成_主工作流】AI短视频生产线工作流",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.feishu.cn/open-apis/auth/v3/tenant_access_token/internal/",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"Content-Type\":\"application/json; charset=utf-8\"\n}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n    \"app_id\": \"cli_a800e\",\n    \"app_secret\": \"hLjKsc06mb\"\n}",
        "options": {
          "timeout": 60000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1360,
        -576
      ],
      "id": "a62efc56-47ae-45a9-b4af-5f2a2bec262f",
      "name": "获取飞书token",
      "notesInFlow": true,
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "maxTries": 5,
      "notes": "HTTP Request"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -608,
        -464
      ],
      "id": "482352b5-1bac-4b13-876c-ffddf05c80e7",
      "name": "循环处理",
      "notesInFlow": true,
      "notes": "Loop Over Items"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://open.feishu.cn/open-apis/bitable/v1/apps/{{ $json.app_token }}/tables/{{ $json.table_id }}/records/search ",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "user_id_type",
              "value": "open_id"
            },
            {
              "name": "page_token"
            },
            {
              "name": "page_size",
              "value": "20"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('获取飞书token').item.json.tenant_access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"sort\": [\n    {\n      \"field_name\": \"id\",\n      \"desc\": false\n    }\n  ],\n  \"filter\": {\n    \"conjunction\": \"and\",\n    \"conditions\": [\n      {\n        \"field_name\": \"发布日期\",\n        \"operator\": \"is\",\n        \"value\": [\n          \"Tomorrow\"\n        ]\n      },\n      {\n        \"field_name\": \"当前状态\",\n        \"operator\": \"is\",\n        \"value\": [\n          \"草稿\"\n        ]\n      }\n    ]\n  },\n  \"automatic_fields\": false\n}",
        "options": {
          "timeout": 60000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1008,
        -576
      ],
      "id": "f0201abd-a66f-4cfa-a357-db04fc2febb3",
      "name": "获取多维表格记录",
      "notesInFlow": true,
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "maxTries": 5,
      "notes": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c5d06deb-33dc-471e-8892-bbf2bb8c94f5",
              "name": "app_token",
              "value": "GGgVbo7jEarC8PsFNXFcpPQPnMe",
              "type": "string"
            },
            {
              "id": "1817ab91-0b11-40ed-b13e-2d8367d99638",
              "name": "table_id",
              "value": "tblO9cucSw4r39Ek",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1184,
        -576
      ],
      "id": "832d3677-3bcc-4415-983d-2ff7c4114dcf",
      "name": "指定多维表格",
      "notesInFlow": true,
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "notes": "Edit Fields"
    },
    {
      "parameters": {
        "content": "## 获取飞书多维表格记录\n- 获取状态为“草稿”且发布时间为明天的所有记录\n- 并将获取到的所有记录拆分进行后续的独立处理\n- 设置定时触发扫描数据表格",
        "height": 544,
        "width": 912,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1616,
        -784
      ],
      "typeVersion": 1,
      "id": "fa3e70ce-9d48-4fc7-b632-7baaa82ca975",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## 循环处理\n- 对获取的每条记录进行逻辑处理\n- 全部处理完成后发送即时消息提醒实时状态",
        "height": 544,
        "width": 672,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -688,
        -784
      ],
      "typeVersion": 1,
      "id": "de82e7a8-27c3-4bbb-ba4e-db2853bc15c1",
      "name": "Sticky Note4"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1552,
        -576
      ],
      "id": "2033d783-0b77-42e0-94b0-191a2f38c573",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1552,
        -400
      ],
      "id": "6fb28aec-61d8-41fb-b0fa-aaa86a87b7a9",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -416,
        -656
      ],
      "id": "2eebd63a-886d-4ffe-8416-63204de68421",
      "name": "合并最终数据统一处理",
      "notesInFlow": true,
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "notes": "Aggregate"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.feishu.cn/open-apis/im/v1/messages",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "receive_id_type",
              "value": "chat_id"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('获取飞书token').item.json.tenant_access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"receive_id\":\"oc_9619619c722d54d1b6589f7405855d59\",\n    \"msg_type\": \"post\",\n    \"content\":\"{\\\"zh_cn\\\":{\\\"title\\\":\\\"AI短视频创作进度\\\",\\\"content\\\":[[{\\\"tag\\\":\\\"at\\\",\\\"user_id\\\":\\\"\\\",\\\"user_name\\\":\\\"所有人\\\"}],[{\\\"tag\\\":\\\"md\\\",\\\"text\\\":\\\"**今天的视频创作已全部完成** \\\"}],[{\\\"tag\\\":\\\"a\\\",\\\"href\\\":\\\"https://mcn33lfbwjgi.feishu.cn/base/GGgVbo7jEarC8PsFNXFcpPQPnMe?table=tblO9cucSw4r39Ek&view=vewI3sjaI0\\\",\\\"text\\\":\\\"点击查看详情\\\"}]]}}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -208,
        -656
      ],
      "id": "fb866382-6df6-425c-9bf6-35897b313227",
      "name": "向群组发送已完成消息",
      "notesInFlow": true,
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "notes": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst list = items[0].json.data.items;\n\nreturn list.map(row => {\n  return {\n    json: {\n      id: row.fields.id,\n      record_id: row.record_id,\n    },\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -832,
        -576
      ],
      "id": "c4110c87-2e37-487e-aa28-79439bbafa5d",
      "name": "拆分和过滤数据",
      "notesInFlow": true,
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "notes": "Code in JavaScript"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "uAdK6YS0bM7ctkgX",
          "mode": "list"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "tenant_access_token": "={{ $('获取飞书token').item.json.tenant_access_token }}",
            "app_token": "={{ $('指定多维表格').item.json.app_token }}",
            "table_id": "={{ $('指定多维表格').item.json.table_id }}",
            "record_id": "={{ $('循环处理').item.json.record_id }}",
            "id": "={{ $json.id }}"
          },
          "matchingColumns": [
            "tenant_access_token",
            "app_token",
            "table_id",
            "record_id",
            "id"
          ],
          "schema": [
            {
              "id": "tenant_access_token",
              "displayName": "tenant_access_token",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "app_token",
              "displayName": "app_token",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "table_id",
              "displayName": "table_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "record_id",
              "displayName": "record_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -208,
        -480
      ],
      "name": "Call 【03_生成_子工作流】AI短视频生产线工作流",
      "id": "70698556-fc2b-487b-8bcf-399da8f9ed8a"
    }
  ],
  "pinData": {},
  "connections": {
    "获取飞书token": {
      "main": [
        [
          {
            "node": "指定多维表格",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "循环处理": {
      "main": [
        [
          {
            "node": "合并最终数据统一处理",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 【03_生成_子工作流】AI短视频生产线工作流",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "获取多维表格记录": {
      "main": [
        [
          {
            "node": "拆分和过滤数据",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "指定多维表格": {
      "main": [
        [
          {
            "node": "获取多维表格记录",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "获取飞书token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        []
      ]
    },
    "合并最终数据统一处理": {
      "main": [
        [
          {
            "node": "向群组发送已完成消息",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "拆分和过滤数据": {
      "main": [
        [
          {
            "node": "循环处理",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 【03_生成_子工作流】AI短视频生产线工作流": {
      "main": [
        [
          {
            "node": "循环处理",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "LtVXki85WsuuHfe4"
  },
  "versionId": "9d6f0089-049a-45b4-bd26-cfde886e1c5c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "830bfffc51ff88cd51b86a768f6a50a5b290896243e17b0bdf0f08551c38ba51"
  },
  "id": "38Ns14VG9yOrQJsD",
  "tags": [
    {
      "updatedAt": "2025-11-28T14:56:45.999Z",
      "createdAt": "2025-11-28T14:56:45.999Z",
      "id": "1qJHbDUp6uEaNK6C",
      "name": "短视频"
    },
    {
      "updatedAt": "2025-10-30T12:47:20.269Z",
      "createdAt": "2025-10-30T12:47:20.269Z",
      "id": "f21vDmcMsvedJbTO",
      "name": "飞书"
    },
    {
      "updatedAt": "2025-10-30T12:47:07.824Z",
      "createdAt": "2025-10-30T12:47:07.824Z",
      "id": "v4AgHa1VDiat8yLA",
      "name": "AI"
    }
  ]
}