workflows/06_飞书+n8n搭建7x24小时AI短视频自动化运营系统/WorkFlow/【04_生成_子工作流_错误处理】AI短视频生产线运行错误处理工作流.json
{
  "name": "【04_生成_子工作流_错误处理】AI短视频生产线运行错误处理工作流",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -224,
        -80
      ],
      "id": "75300e3d-84d1-43cb-b13e-ee5a8f2326bc",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.feishu.cn/open-apis/im/v1/messages",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "receive_id_type",
              "value": "chat_id"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('指定多维表格和记录').item.json.tenant_access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"receive_id\":\"oc_9619619c722d54d1b6589f7405855d59\",\n    \"msg_type\": \"post\",\n    \"content\":\"{\\\"zh_cn\\\":{\\\"title\\\":\\\"AI短视频创作进度\\\",\\\"content\\\":[[{\\\"tag\\\":\\\"at\\\",\\\"user_id\\\":\\\"\\\",\\\"user_name\\\":\\\"所有人\\\"}],[{\\\"tag\\\":\\\"md\\\",\\\"text\\\":\\\"**视频主题**:{{ $('获取执行记录详情').item.json.data.resultData.runData[\"获取多维表格单条记录\"][0].data.main[0][0].json.data.items[0].fields[\"主题\"][0].text }}\\\\\\n **创建时间**:{{ new Date($('获取执行记录详情').item.json.data.resultData.runData[\"获取多维表格单条记录\"][0].data.main[0][0].json.data.items[0].fields[\"创建时间\"] ).toDateTime().format('yyyy-LL-dd HH:mm:ss') }}\\\\\\n **当前状态**:{{ $json.data.record.fields['当前状态'] }}\\\"}],[{\\\"tag\\\":\\\"md\\\",\\\"text\\\":\\\"**ID号**: {{ $('获取执行记录详情').item.json.data.resultData.runData[\"获取多维表格单条记录\"][0].data.main[0][0].json.data.items[0].fields.id }}\\\"},{\\\"tag\\\":\\\"a\\\",\\\"href\\\":\\\"https://mcn33lfbwjgi.feishu.cn/base/GGgVbo7jEarC8PsFNXFcpPQPnMe?table=tblO9cucSw4r39Ek&view=vewjXQZonO\\\",\\\"text\\\":\\\"点击查看详情\\\"}]]}}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        416,
        -80
      ],
      "id": "0d7c98d9-7ce6-4b48-a44e-fdbd66743dab",
      "name": "向群组发送即时消息",
      "notesInFlow": true,
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "notes": "HTTP Request"
    },
    {
      "parameters": {
        "resource": "execution",
        "operation": "get",
        "executionId": "={{ $json.execution.id }}",
        "options": {
          "activeWorkflows": true
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        -64,
        -80
      ],
      "id": "bc67b4df-939c-4977-afba-9902794e1add",
      "name": "获取执行记录详情",
      "notesInFlow": true,
      "credentials": {
        "n8nApi": {
          "id": "8NmF2rRN3yJVlawu",
          "name": "n8n account"
        }
      },
      "notes": "Get an execution"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4d8eae51-228d-4f91-bc5d-d18831c3dc1a",
              "name": "tenant_access_token",
              "value": "={{ $json.data.resultData.runData.Start[0].data.main[0][0].json.tenant_access_token }}",
              "type": "string"
            },
            {
              "id": "c5d06deb-33dc-471e-8892-bbf2bb8c94f5",
              "name": "app_token",
              "value": "={{ $json.data.resultData.runData.Start[0].data.main[0][0].json.app_token }}",
              "type": "string"
            },
            {
              "id": "1817ab91-0b11-40ed-b13e-2d8367d99638",
              "name": "table_id",
              "value": "={{ $json.data.resultData.runData.Start[0].data.main[0][0].json.table_id }}",
              "type": "string"
            },
            {
              "id": "8fda768b-8b08-4ecd-a652-285581034ad7",
              "name": "record_id",
              "value": "={{ $json.data.resultData.runData.Start[0].data.main[0][0].json.record_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        96,
        -80
      ],
      "id": "babb9635-8c73-483d-837c-35aebe27ac87",
      "name": "指定多维表格和记录",
      "notesInFlow": true,
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "notes": "Edit Fields"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://open.feishu.cn/open-apis/bitable/v1/apps/{{ $json.app_token }}/tables/{{ $json.table_id }}/records/{{ $json.record_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.tenant_access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"fields\": {\n    \"当前状态\": \"生成出错\"\n  }\n} ",
        "options": {
          "timeout": 60000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        256,
        -80
      ],
      "id": "19921aaa-aa6c-4281-9226-003e88fdb7c3",
      "name": "更新记录 生成出错",
      "notesInFlow": true,
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "notes": "HTTP Request"
    }
  ],
  "pinData": {},
  "connections": {
    "Error Trigger": {
      "main": [
        [
          {
            "node": "获取执行记录详情",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "获取执行记录详情": {
      "main": [
        [
          {
            "node": "指定多维表格和记录",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "指定多维表格和记录": {
      "main": [
        [
          {
            "node": "更新记录 生成出错",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "更新记录 生成出错": {
      "main": [
        [
          {
            "node": "向群组发送即时消息",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f921cac8-7bfa-4841-9456-bc1ee74b2ddf",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "830bfffc51ff88cd51b86a768f6a50a5b290896243e17b0bdf0f08551c38ba51"
  },
  "id": "sT6EyI7NAE3yg7xe",
  "tags": []
}